<template>
  <v-layout row wrap>
    <v-flex ma-5>
      <v-layout column align-center>
        <h2>{{ title }}</h2>
        <purevuecharts
          :month-labels="true"
          :points=chartValues
          :width="400"
          :height="250"
          :show-y-axis="true"
          :show-x-axis="true"
          :show-values="true"
        />
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import PureVueChart from 'pure-vue-chart'; // https://github.com/djaxho/pure-vue-chart?ref=madewithvuejs.com

  @Component({
    components: {
      purevuecharts: PureVueChart,
    },
  })
export default class Chart extends Vue {
  @Prop({
    required: true,
    default: {},
  })
  chartValues: any;

  @Prop({
    required: true,
    default: '',
  })
  title: string;
}

</script>
