<template>
  <div>
    <v-row align='center' justify='end' >
      <v-col v-if=isAProposal md="auto">
        <span>
          {{ currentDateStr }}
        </span>
      </v-col>
      <v-col
        v-if='isProposer && !hideProposalButtons'
        md="auto">
        <v-dialog
        max-width="500px"
        v-model='dateDialog'
        >
          <template v-slot:activator="{ on }">
            <v-btn
            color="red lighten-2"
            dark
            v-on="on"
            >
            Stel <span v-if=isAProposal class='mx-1'> opnieuw </span> datum voor
            </v-btn>
          </template>

          <!-- Popup -->
          <v-card>
            <v-form
              ref='dateForm'>
              <v-card-title color="grey" dark>
                Kies een datum en tijd
              </v-card-title>
              <v-layout justify-center pa-5>
                <v-date-picker
                  color='primary'
                  required
                  :rules="[v => !!v || 'Gelieven een datum te kiezen!']"
                  v-model="datepicker"
                  :min=expectedMinDate />
              </v-layout>
              <v-layout justify-center pa-5>
                <v-time-picker
                  color='primary'
                  required
                  :rules="[v => !!v || 'Gelieven een tijd te kiezen!']"
                  v-model="timepicker" />
              </v-layout>
              <v-layout justify-center pa-5>
                <v-btn
                  color="#EA4440"
                  class="white--text"
                  width="100%"
                  @click="makeProposal"
                  >Stel voor</v-btn>
              </v-layout>
            </v-form>
          </v-card>
        </v-dialog>
      </v-col>
      <v-col
        md="auto"
        v-else-if='!hideProposalButtons'
        >
          <v-btn fab small
            color='green'
            class='mx-2'
            @click="sendResponse(true)">
            <v-icon>mdi-check</v-icon>
          </v-btn>
          <v-btn fab small
            color='red'
            class='mx-2'
            @click="sendResponse(false)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import store from '../store/index';
import { updateRequest, getRequest } from '@/functions/requests';

import { LoginState, SnackBarSate } from '@/store/modules/types';

const namespace: string = 'snackbar';


@Component({
})
export default class Proposer extends Vue {
  @Prop({
    required: true,
    default: -1,
  })
  roomID: number;

  @Prop({
    required: true,
    default: null,
  })
  roomSocket: WebSocket;

  @Prop({
    required: true,
    default: false,
  })
  roomInfo: {};

  @Prop({
    required: true,
    default: '',
  })
  receivedMessage: any;

  @State('snackbar') snackbar!: SnackBarSate;

  @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

  // If the logged-in person is the proposer
  private isProposer: boolean = true;

  // Save proposer id
  private proposerID: number = Proposer.getLoggedInUser();

  private proposeDate: Date;

  // If there is a proposal
  private isAProposal: boolean = true;

  // If the date is accepted
  private hideProposalButtons: boolean = false;

  private currentDateStr: string = '';

  created() {
    this.expectedMinDate = Proposer.addDays(this.now, 2).toISOString().substr(0, 10);
  }

  @Watch('roomInfo')
  private roomChanged() {
    /* eslint-disable */
    if (this.roomInfo['date'] !== null){
      this.updateProposals(this.roomInfo['proposer']['id'], this.roomInfo['date'], this.roomInfo['accepted']);
    } else {
      this.updateProposals(null, null, null);
    }
    /* eslint-enable */
  }

  private updateProposals(proposerID: number, date: Date, isAccepted: boolean) {
    if (date === null) {
      // no proposal
      this.setProposer(Proposer.getLoggedInUser());
      this.isAProposal = false;
      this.currentDateStr = '';
      this.hideProposalButtons = false;
    } else {
      this.isAProposal = true;
      this.proposeDate = date;

      // Check if logged in = proposer
      this.setProposer(proposerID);

      // Get date
      const propDate: Date = new Date(date);
      const propDateStr: string = Proposer.getDayTimeToStr(propDate);
      // Fill in for different use-cases
      switch (isAccepted) {
        case null:
          this.currentDateStr = String('Voorstel: ') + propDateStr;
          this.hideProposalButtons = false;
          break;
        case true:
          this.currentDateStr = String('Datum vastgelegd op ') + propDateStr;
          this.hideProposalButtons = true;
          break;
        case false:
          this.currentDateStr = propDateStr + String(' is geweigerd');
          this.hideProposalButtons = false;
          this.setProposer(Proposer.getLoggedInUser());
          break;
        default:
          break;
      }
    }
  }

  private setProposer(id: number) {
    this.isProposer = (id === Proposer.getLoggedInUser());
    this.proposerID = id;
  }


  static getDayTimeToStr(date: Date): string {
    const day: string = date.getDate() + String('/') + (date.getMonth() + 1) + String('/') + date.getFullYear();
    const time: string = date.getHours() + String(':') + date.getMinutes();
    return day + String(' om ') + time;
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }

  // ================= TIMEDATEPICKER =====================
  initDateStr: string = Proposer.dateToDateStr(Proposer.addDays(new Date(), 2));

  initTimeStr: string = Proposer.dateToTimeStr(new Date());

  now : Date = new Date();

  timepicker: string = this.initTimeStr;

  datepicker: string = this.initDateStr;

  dateDialog: boolean = false;

  expectedMinDate: string = '';

  private makeProposal() {
    this.dateDialog = false;
    const date: Date = new Date(this.datepicker + String(' ') + this.timepicker);
    this.sendProposal(date);
  }

  static dateToDateStr(date: Date): string {
    return date.toISOString().substr(0, 10);
  }

  static dateToTimeStr(date: Date): string {
    return date.toISOString().substring(11, 16);
  }

  static addDays(date: Date, days: number): Date {
    date.setDate(date.getDate() + days);

    return date;
  }

  // ================= SOCKETS =====================

  @Watch('receivedMessage')
  receiveMessage(): void {
    /* eslint-disable */

    // Convert message
    const rawMes = this.receivedMessage;

    // Check if received message is a proposel and update components
    if (rawMes['type'] === 'date') {
      this.updateProposals(rawMes['proposer_id'], rawMes['date'], rawMes['accepted']);
    } else if (rawMes['message_type'] === 'reset_date') {
      // Reset to only the propose button
      this.updateProposals(null, null, null);
    }
    /* eslint-enable */
  }

  private sendProposal(date: Date): void {
    // First reset proposer
    const resetMessage = {
      type: 'reset_date',
    };
    /* eslint-disable */
    this.waitForSocketConnection(() => {
      this.roomSocket.send(JSON.stringify(resetMessage));
    });

    // Then send new proposal
    const propMessage = {
      type: 'date',
      date: date,
      proposer_id: this.proposerID,
      sender_id: Proposer.getLoggedInUser(),
      accepted: null,
    };

    /* eslint-disable */
    this.waitForSocketConnection(() => {
      this.roomSocket.send(JSON.stringify(propMessage));
    });
  }

  private sendResponse(isAccepted: boolean): void {
    // Then send new proposal
    const propMessage = {
      type: 'date',
      date: this.proposeDate.toString(),
      proposer_id: this.proposerID,
      sender_id: Proposer.getLoggedInUser(),
      accepted: isAccepted,
    };
    /* eslint-disable */
    this.waitForSocketConnection(() => {
      this.roomSocket.send(JSON.stringify(propMessage));
    });
  }

  // Make the function wait until the connection is made...
  /* eslint-disable */
  waitForSocketConnection(callback) {
    setTimeout(
      () => {
        if (this.roomSocket.readyState === WebSocket.OPEN) {
          if (callback != null) {
            callback();
          }
        } else {
          this.waitForSocketConnection(callback);
        }
      }, 5,
    ); // wait 5 milisecond for the connection...
  }
}

</script>
