<template>
  <v-card
    class="mx-auto"
    >
    <v-toolbar
      color="grey"
      dark
    >

      <v-toolbar-title>Gesprekken</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
      <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-toolbar>

    <!-- Gesprekken oplijsten -->
    <v-list three-line class="pa-0 overflow-y-auto" height="75vh">
      <template v-for="(conversation, index) in conversations" >
      <v-list-item
          :to="'/berichten/' + conversation.id"
          :key="conversation.id"
          @click="changeToRead(index)"
      >
        <v-list-item-avatar>
            <v-img v-if="conversation.user1.id === LoggedInUser" :src="'data:image/png;base64,'+conversation.user2.avatar" />
            <v-img v-else :src="'data:image/png;base64,'+conversation.user1.avatar" />
        </v-list-item-avatar>

        <v-list-item-content>
          <div :class="[conversation.read ? 'font-regular' : 'font-weight-bold']">
            <v-list-item-title v-if="conversation.user1.id == LoggedInUser" >
              {{ conversation.user2.full_name }}
            </v-list-item-title>
            <v-list-item-title v-else >
              {{ conversation.user1.full_name }}
            </v-list-item-title>
            <v-list-item-subtitle v-if='conversation.last_message != null'> {{ conversation.last_message.message }} </v-list-item-subtitle>
            <v-list-item-subtitle v-else> </v-list-item-subtitle>
          </div>

        </v-list-item-content>
      </v-list-item>
      <v-divider
        :key="index + 1000"
        ></v-divider>
      </template>
    </v-list>
  </v-card>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Emit, Watch,
} from 'vue-property-decorator';
import axios from 'axios';
import store from '../store/index';

@Component({
})
export default class ConversationList extends Vue {
  conversations: any[] = [];

  @Prop({
    required: true,
    default: null,
  })
  roomID: number;

  private LoggedInUser = ConversationList.getLoggedInUser();

  private sockets: WebSocket[] = [];

  created() {
    this.getConversations().then((res) => {
      if (res) {
        // Change to first conversation if none is selected
        this.checkRoom();
      }
    });
  }

  private selectFirstConversation() {
    let firstID: number;
    let firstPath: string;

    // Check if there are conversations
    if (this.conversations.length >= 1) {
      firstID = this.conversations[0].id;
      firstPath = String('/berichten/') + firstID.toString();
      this.changeToRead(0);

      this.$router.push({ path: firstPath });
    }
  }

  private updateCurrentSocket(id: number) {
    if (this.sockets[id] !== null) {
      this.$emit('updateSocket', this.sockets[id]);
    }
  }

  private setupSockets() {
    // Create socket for all conversations
    this.conversations.forEach((conv) => {
      /* eslint-disable */
      let id = conv['id'];
      /* eslint-enable */
      this.sockets[id] = new WebSocket(
        `ws://${window.location.hostname}:8000/ws/chat/${id}/`,
      );
      this.sockets[id].onmessage = (msg) => {
        this.receiveMessage(JSON.parse(msg.data), id);
      };
      this.sockets[id].onerror = (err) => {
        this.socketError(err, id);
      };
    });
  }

  private getConversationPos(id: number): number {
    let pos: number = -1;
    let index: number = 0;

    this.conversations.forEach((conv) => {
      /* eslint-disable */
      if (conv['id'] === id) {
        pos = index;
      }
      /* eslint-enable */
      index += 1;
    });

    return pos;
  }

  private changeToRead(index: number) {
    // Change clicked to read
    /* eslint-disable */
    this.conversations[index]['read'] = true;
    /* eslint-enable */
  }

  async getConversations(): Promise<boolean> {
    return new Promise((resolve) => {
      axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/chats/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          if (response.status === 200) {
            this.conversations = response.data;
            this.setupSockets();
          } else {
            console.log('Er is iets fout gegaan!');
            // this.errorDialog = true;
          }
          resolve(true);
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ path: '/aanmelden/' });
            resolve(false);
          }
        });
    });
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }


  beforeDestroy(): void{
    this.sockets.forEach((sock) => {
      sock.close();
    });
  }

  /* eslint-disable */
  receiveMessage(message, id): void {

    if (message['type'] === 'chat_message'){
      let roomPos = this.getConversationPos(id);

      // Change new message
      if (this.roomID !== id) {
        this.conversations[roomPos]['read'] = false;
      }

      // Change latest message
      let newLast = message['message'];
      let lastMes = this.conversations[roomPos]['last_message'];
      lastMes['message'] = newLast;

      this.conversations[roomPos]['last_message'] = lastMes;
    }

    // Send messages to other components if in current room
    if (this.roomID === id) {
      this.$emit('receiveMessage', message);
    }
  }
  /* eslint-enable */

  socketError(error, id): void {
    this.sockets[id].close();
    this.sockets[id] = new WebSocket(
      `ws://${window.location.hostname}:8000/ws/chat/${id}/`,
    );
    this.updateCurrentSocket(id);
  }

  @Watch('roomID')
  checkRoom() {
    if (this.roomID < 0) {
      this.selectFirstConversation();
    } else {
      this.updateCurrentSocket(this.roomID);
    }
  }
}

</script>
