<template >
  <v-card outlined
        class="mx-auto"
      >
        <v-toolbar
          color="grey"
          dark
        >
          <v-toolbar-title>{{ otherChatPerson }}</v-toolbar-title>
          <v-spacer></v-spacer>

          <!-- Datum pickers -->
          <proposer
            v-if="timedatepicker"
            :roomID="roomID"
            :roomSocket="roomSocket"
            :roomInfo="currentRoomJSON"
            :receivedMessage="receivedMessage"
            />
            <v-dialog
                v-model="reportDialog"
                width="500"
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on='on'
                    class="mx-2"
                    fab
                    dark
                    small
                    color="warning">
                    <v-icon dark>mdi-flag-variant</v-icon>
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title
                    class="headline grey lighten-2"
                    primary-title
                  >
                    GESPREK RAPORTEREN
                  </v-card-title>

                  <v-card-text>
                    Het systeem zal jullie automatisch ontkoppelen.
                    Wij gaan er vanuit dat deze melding oprecht is.
                    <br>
                    Bij misbruik wordt een administrator op de hoogte gebracht.
                    <br><br>
                    Weet u zeker dat u wilt verder gaan?
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red"
                      text
                      @click="reportDialog = false"
                    >
                      Nee
                    </v-btn>
                    <v-btn
                      color="green"
                      text
                      @click="reportChat()"
                    >
                      Ja
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
        </v-toolbar>
        <v-card
          height="75vh">
          <chat
            :participants=participants
            :myself=myself
            :messages=messages
            :on-message-submit=onMessageSubmit
            :placeholder=placeholder
            :colors=colors
            :load-more-messages="toLoad.length > 0 ? loadMoreMessages : null"
            :async-mode=false
            ></chat>
        </v-card>
      </v-card>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';
import { Chat } from 'vue-quick-chat'; // https://www.npmjs.com/package/vue-quick-chat7
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import store from '../store/index';
import Proposer from './Chat_Proposer.vue';
import { updateRequest, getRequest, getRequests } from '@/functions/requests';
import 'vue-quick-chat/dist/vue-quick-chat.css';
import { LoginState, SnackBarSate } from '@/store/modules/types';
import router from '../router';

const namespace: string = 'snackbar';

@Component({
  components: {
    chat: Chat,
    proposer: Proposer,
  },
})
export default class Chatbox extends Vue {
  @Prop({
    default: false,
  })
  timedatepicker: boolean;

  @Prop({
    required: true,
    default: -1,
  })
  roomID: number;

  @Prop({
    required: true,
    default: null, // -1 for update on page load
  })
  roomSocket: WebSocket;

  @Prop({
    required: true,
    default: '',
  })
  receivedMessage: any;

  @State('snackbar') snackbar!: SnackBarSate;

  @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

  private reportDialog: boolean = false;

  private currentRoomJSON: any = null;

  private otherChatPerson: string = '';

  private messages: any[] = [];

  private participants: any[] = [
    {
      name: '',
      id: -1,
    },
  ];

  // ===== CONSTS ======
  private myself: any = {
    name: 'Ik',
    id: 1,
  };

  private placeholder: string = 'Schrijf hier je bericht...';

  private colors: any = {
    header: {
      bg: '#d30303',
      text: '#fff',
    },
    message: {
      myself: {
        bg: '#fff',
        text: 'black',
      },
      others: {
        bg: '#ef5350',
        text: '#fff',
      },
      messagesDisplay: { // Background color chat
        bg: '#f7f3f3',
      },
    },
    submitIcon: '#b91010',
  };

  private borderStyle: any = {
    topLeft: '10px',
    topRight: '10px',
    bottomLeft: '10px',
    bottomRight: '10px',
  };

  private toLoad: any[] = [
    // Messages to load with loading bar
  ];

  // ===== FUNCTIONS ======
  @Watch('roomSocket')
  private loadMessages(): void {
    // Load messages if id is not -1 (this means that the url param is not set)
    if (this.roomID !== -1) {
      this.getMessages(this.roomID);
    }
  }

  private async reportChat() {
    this.reportDialog = false;
    const updatedRequest = await getRequest(this.currentRoomJSON.request_id);

    updatedRequest.status = 55;
    updatedRequest.text = 'Gerapporteerd';
    updatedRequest.tutor_id = null;

    updateRequest(updatedRequest)
      .then((success) => {
        this.setSnackBarMessage({ message: 'Aanvraag is gerapporteerd', type: 'info' });
        this.$router.push({ name: 'tuteeaanvragen' });
      })
      .catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
  }

  private getMessages(roomID: number): void {
    axios({
      method: 'get',
      url: `http://${window.location.hostname}:8000/api/chats/messages/${roomID}/`,
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
    })
      .then((response) => {
        if (response.status === 200) {
          this.messages = this.initChatbox(response.data);
        } else {
          // this.errorDialog = true;
        }
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: '/aanmelden/' });
        }
      });
  }

  private initChatbox(chatData: {}[][]): any[] {
    const messages: any[] = [];
    const loggedInUser: number = Chatbox.getLoggedInUser();

    // Get other persons id and name
    /* eslint-disable */
    let otherName: string;
    let otherID: number;
    if (chatData['room']['user1']['id'] === loggedInUser) {
      otherName = chatData['room']['user2']['full_name'];
      otherID = +chatData['room']['user2']['id'];
    } else {
      otherName = chatData['room']['user1']['full_name'];
      otherID = +chatData['room']['user1']['id'];
    }

    // Init room info
    this.currentRoomJSON = chatData['room'];

    // Init chatbox names and participants
    this.participants[0].name = otherName;
    this.participants[0].id = otherID;

    this.otherChatPerson = otherName;

    // Convert messages
    chatData['messages'].forEach((rawMes) => {
      const mes = {
        content: rawMes['message'],
        myself: (rawMes['sender']['id'] === loggedInUser),
        participantId: rawMes['sender']['id'], //default
        timestamp: rawMes['sent_at'],
        uploaded: true,
        viewed: false,
      };

      messages.push(mes);
    });

    // Scroll to bottom
    Chatbox.scrollToBottom();

    return messages;
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }

  static onType() {
    // On type event here
  }

  loadMoreMessages(resolve) {
    setTimeout(() => {
      resolve(this.toLoad); // We end the loading state and add the messages
      // Make sure the loaded messages are also added to our
      // local messages copy or they will be lost
      this.messages.unshift(...this.toLoad);
      this.toLoad = [];
    }, 1000);
  }

  onMessageSubmit(message) {
    /*
      * example simulating an upload callback.
      * It's important to notice that even when your message wasn't send
      * yet to the server you have to add the message into the array
      */
    // this.messages.push(message);

    // Scroll to bottom
    Chatbox.scrollToBottom();

    /*
      * you can update message state after the server response
      */
    this.sendMessage(message.content);
    message.uploaded = true;
  }

  static scrollToBottom() {
    // scroll down
    document.getElementsByClassName('container-message-display')[0].scrollTop = document.getElementsByClassName('container-message-display')[0].scrollHeight;
  }

  // ================= SOCKETS ===================

  @Watch('receivedMessage')
  receiveMessage(): void {
    // Convert message
    let rawMes = this.receivedMessage;

    // Check if received message is a chat message
    if (rawMes['type'] === 'chat_message'){
      const message = {
        content: rawMes['message'],
        myself: (rawMes['sender']['id'] === Chatbox.getLoggedInUser()),
        participantId: rawMes['sender']['id'],
        timestamp: rawMes['sent_at'],
        viewed: true,
      };

      this.messages.push(message);
    }
  }

  sendMessage(msgText: string): void {
    const message = {
      type: 'chat_message',
      message: msgText,
      sender: Chatbox.getLoggedInUser(),
    };
    /* eslint-disable */
    this.waitForSocketConnection(() => {
      this.roomSocket.send(JSON.stringify(message));
    });
  }

  // Make the function wait until the connection is made...
  /* eslint-disable */
  waitForSocketConnection(callback) {
    setTimeout(
      () => {
        if (this.roomSocket.readyState === WebSocket.OPEN) {
          if (callback != null) {
            callback();
          }
        } else {
          this.waitForSocketConnection(callback);
        }
      }, 5,
    ); // wait 5 milisecond for the connection...
  }

}

</script>
