<template>
<v-container fluid>
  <v-row>
    <!-- slot for parent component to activate the file changer -->
    <v-col @click="launchFilePicker()">
      <slot name="activator"></slot>
    </v-col>
    <!-- image input: style is set to hidden and assigned a ref so that it can be triggered -->
    <input type="file"
       ref="file"
       :name="uploadFieldName"
       @change="onFileChange(
          $event.target.name, $event.target.files)"
       style="display:none">
    <!-- error dialog displays any potential errors -->
    <v-dialog v-model="errorDialog" max-width="300">
      <v-card>
        <v-card-text class="subheading">{{errorText}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="errorDialog = false" flat>Got it!</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</v-container>
</template>

<script>
// Author: Rigo Vanvelk

import { Vue } from 'vue-property-decorator';

export default {
  name: 'image-input',

  data: () => ({
    errorDialog: null,
    errorText: '',
    uploadFieldName: 'file',
    maxSize: 2 * 1024,
  }),

  methods: {
    // Opens the file select dialog
    launchFilePicker() {
      this.$refs.file.click();
    },

    // When a file is selected/changed
    onFileChange(fieldName, file) {
      const { maxSize } = this;
      const imageFile = file[0];

      // check if user actually selected a file
      if (file.length > 0) {
        const size = imageFile.size / maxSize / maxSize;
        if (!imageFile.type.match('image.*')) {
          // check whether the upload is an image
          this.errorDialog = true;
          this.errorText = 'Please choose an image file';
        } else if (size > 1) {
          // check whether the size is greater than the size limit
          this.errorDialog = true;
          this.errorText = 'Your file is too big! Please select an image under 5MB';
        } else {
          const imageURL = URL.createObjectURL(imageFile);
          // Emit FormData & image URL to the parent component
          this.$emit('input', { imageFile, imageURL });
        }
      }
    },
  },
};
</script>
