<template>
    <v-row>
        <div v-for='item in navigationItems' v-bind:key=item.id>
            <v-btn text :to="item.path" class="ma-2" active-class="primary--text">
                {{ item.name }}
            </v-btn>
        </div>
        <v-spacer></v-spacer>
        <notification-block></notification-block>
        <v-btn icon v-if="messages.count > 0" class="mx-2" :to="messages.path">
            <v-badge overlap color=warning>
                <template v-slot:badge>{{ messages.count }}</template>
                <v-icon color=warning class="mx-2">{{ messages.iconWarning }}</v-icon>
            </v-badge>
        </v-btn>
        <v-btn icon v-else :to="messages.path">
            <v-icon class="mx-2">{{ messages.iconNormal }}</v-icon>
        </v-btn>
        <div v-for='item in iconItems' v-bind:key=item.id>
            <v-btn icon :to="item.path" active-class="primary--text">
                <v-icon class="mx-2">{{ item.iconNormal }}</v-icon>
            </v-btn>
        </div>
        <v-menu bottom offset-y transition="slide-y-transition" class="mx-2">
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>
            <v-list>
                <v-list-item>
                    <v-list-item-title>Help</v-list-item-title>
                </v-list-item>
                <v-divider/>
                <v-subheader>Instellingen</v-subheader>
                <v-list-item to="/email">
                    <v-list-item-title>Mails aanpassen</v-list-item-title>
                </v-list-item>
                <v-divider/>
                <v-list-item @click = afmelden()>
                    <v-list-item-title>Afmelden</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-row>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Notifications from '@/components/Notifications.vue';
import { getUnreadMessages } from '@/functions/notifications';
import { logout } from '@/functions/authorisatie';

@Component({
  components: {
    'notification-block': Notifications,
  },
})
export default class NavigationAdministrator extends Vue {
    navigationItems: object[] = [
      {
        name: 'Nieuwe aanvragen',
        path: '/NieuweAanvragen',
      },
      {
        name: 'Persoonlijke aanvragen',
        path: '/PersoonlijkeAanvragen',
      },
      {
        name: 'Bijlesgevers',
        path: '/Bijlesgevers',
      },
      {
        name: 'Statistieken',
        path: '/Statistieken',
      },
    ];

    messages = {
      iconWarning: 'mdi-message-alert',
      iconNormal: 'mdi-message',
      count: 3,
      path: '/Berichten',
    }

    currentpath = '';

    interval;

    menuItems: object[] = [
      {
        name: 'Help',
        path: '/Help',
      },
      {
        name: 'Instellingen',
        path: '/Instellingen',
      },
    ];

    iconItems: object[] = [
      {
        iconNormal: 'mdi-account',
        path: '/Profiel',
      },
    ];

    private async getMessagesCount() {
      const tmp = await getUnreadMessages();
      this.messages.count = tmp.count;
    }

    private async created() {
      await this.getMessagesCount();
      this.interval = setInterval(() => this.getNewerMessages(), 5000);
    }

    @Watch('$route', { immediate: true, deep: true })
    onUrlChange(newVal: any) {
      this.currentpath = newVal.name;
      if (newVal.name === 'berichten' || newVal.name === 'berichtenid') {
        this.messages.count = 0;
      } else this.getMessagesCount();
    }

    private getNewerMessages() {
      if (this.currentpath === 'berichten' || this.currentpath === 'berichtenid') return;
      this.getMessagesCount();
    }

    afmelden() {
      logout();
      this.$router.push('/Aanmelden');
      clearInterval(this.interval);
    }
}
</script>
