<template>
    <v-menu
        max-height=350px
        class="overflow-y-auto mx-2"
        bottom left offset-y transition="slide-y-transition">
            <template v-slot:activator="{ on }">
                <v-btn icon v-if="notificationIcon.count > 0" class="mx-2" v-on="on">
                    <v-badge overlap color=warning>
                        <template v-slot:badge>{{ notificationIcon.count }}</template>
                        <v-icon color=warning class="mx-2">{{ notificationIcon.iconWarning }}</v-icon>
                    </v-badge>
                </v-btn>
                <v-btn icon v-else v-on="on">
                    <v-icon class="mx-2">{{ notificationIcon.iconNormal }}</v-icon>
                </v-btn>
            </template>
            <v-list two-line>
                <template v-for='(notif, index) in notificationItems'>
                    <v-list-item :key=notif.id :input-value=!notif.seen active-class="pink--text" v-on:click=openNotification(notif)>
                        <v-list-item-content>
                            <v-list-item-title>{{ notif.title }}</v-list-item-title>
                            <v-list-item-subtitle>{{ notif.content }}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-list-item-action-text>{{ notif.timestamp }}</v-list-item-action-text>
                        </v-list-item-action>
                    </v-list-item>
                    <v-divider
                        v-if="index + 1 < notificationItems.length"
                        :key="index"
                    ></v-divider>
                </template>
                <v-btn text v-on:click.stop="moreNotifications()" class="justify-center">Meer laden...</v-btn>
            </v-list>
        </v-menu>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {
  getNotifications, markSeen, getUnreadMessages, getNewerNotifications,
} from '@/functions/notifications';

function calculateTimestamp(timestamp: string) {
  const currentTime = Date.now();
  const timestampTime = new Date(timestamp).getTime();
  const time = currentTime - timestampTime;

  if (time < 3600000) { return `${Math.floor(time / 60000).toString()} min`; }
  if (time < 86400000) { return `${Math.floor(time / (60000 * 60)).toString()} uur`; }
  if (Math.floor(currentTime / 86400000) - 1 === Math.floor(timestampTime / 86400000)) { return 'Gisteren'; }
  return (new Date(timestampTime).toLocaleDateString('nl-BE'));
}

class NotificationType {
    public readonly path: string;

    public readonly title: string;

    public readonly content: string;

    constructor(path: string, title: string, content: string) {
      this.path = path;
      this.title = title;
      this.content = content;
    }
}

@Component({
})
export default class Notifications extends Vue {
    private map: { [notifType: string]: NotificationType; } = {
      undefined: new NotificationType('/NieuweAanvragen', 'Nieuwe aanvraag', 'Een bijlesnemer heeft een nieuwe aanvraag geplaatst.'),
      contract: new NotificationType('/Profiel/%resource%', 'Contract geüpload', '%naam_afzender% heeft zijn contract geüpload.'),
      'new tutor': new NotificationType('/Profiel/%resource%',
        'Nieuwe bijlesgever!',
        '%naam_afzender% heeft zich aangemeld als bijlesgever.'),
      'status update': new NotificationType('/PersoonlijkeAanvragen',
        'Status veranderd!',
        'De status van 1 van je aanvragen is zojuist geüpdated.'),
      paid: new NotificationType('/PersoonlijkeAanvragen', 'Betaling gebeurd!',
        '%naam_afzender% heeft zojuist een betaling uitgevoerd.'),
      request: new NotificationType('/BijlesAanvragen', 'Nieuwe aanvraag!', 'Je hebt een nieuwe aanvraag ontvangen.'),
      linked: new NotificationType('#', 'Je hebt een match!', 'Je bent gelinked aan een bijlesnemer, we wachten nog op zijn/haar betaling.'),
      'in progress': new NotificationType('/Aanvragen', 'In behandeling', 'Je aanvraag werd in behandeling genomen.'),
      'found tutor': new NotificationType('/Aanvragen', 'Er werd een tutor gevonden voor je!', 'Er werd succesvol een tutor gevonden waar je contact mee kan opnemen na betaling'),
      'give score': new NotificationType('/Review/%resource%', 'Geef je mening!', 'Geef je bijlesgever een review'),
      'request cancelled': new NotificationType('/Aanvragen', 'Annulering aanvraag', 'Een aanvraag van u kon niet behandeld worden'),
      'request cancelled payback': new NotificationType('/Aanvragen',
        'Terugbetaling',
        'Een aanvraag van u kon niet behandeld worden, indien u reeds betaald heeft zal u een mail ontvangen met verdere instructies'),
    };

    private notificationIcon = { iconWarning: 'mdi-bell-ring', iconNormal: 'mdi-bell', count: 0 };

    private notificationItems = [];

    private offset = 0;

    private interval = null;

    private newestSeqnr = 1;

    private async moreNotifications() {
      const temporary = await getNotifications(this.offset);
      if (temporary.notifications.length === 0) return;
      if (!temporary.notifications.length) return;
      this.offset += Math.min(temporary.notifications.length, 2);

      temporary.notifications.forEach((element) => {
        const tmp = {
          id: element.seqNum,
          seen: element.seen,
          type: element.type,
          sender: element.subject,
          originalTimestamp: element.date,
          timestamp: calculateTimestamp(element.date),
          content: this.map[element.type].content.replace('%naam_afzender%', element.subject),
          title: this.map[element.type].title,
          path: this.map[element.type].path.replace('%resource%', element.resource),
        };

        this.notificationItems.push(tmp);
      });
    }

    private async createNotifications() {
      const temporary = await getNotifications(this.offset);
      if (temporary.notifications.length === 0) return;
      if (!temporary.notifications.length) return;
      this.offset += Math.min(temporary.notifications.length, 2);
      this.notificationIcon.count = temporary.unread;

      temporary.notifications.forEach((element) => {
        const tmp = {
          id: element.seqNum,
          seen: element.seen,
          type: element.type,
          sender: element.subject,
          originalTimestamp: element.date,
          timestamp: calculateTimestamp(element.date),
          content: this.map[element.type].content.replace('%naam_afzender%', element.subject),
          title: this.map[element.type].title,
          path: this.map[element.type].path.replace('%resource%', element.resource),
        };

        this.notificationItems.push(tmp);
      });
      this.newestSeqnr = temporary.notifications[0].seqNum;
    }

    /* eslint no-param-reassign: ["error", { "props": true, "ignorePropertyModificationsFor": ["notification", "element"] }] */
    private openNotification(notification) {
      if (notification.seen === false) {
        notification.seen = true;
        markSeen(notification.id);
        this.notificationIcon.count -= 1;
      }
      this.$router.push(notification.path).catch((err) => {});
    }

    private async getNewerNotifs() {
      this.notificationItems.forEach((element) => {
        element.timestamp = calculateTimestamp(element.originalTimestamp);
      });

      const tmp3 = await getNewerNotifications(this.newestSeqnr);
      if (tmp3.notifications.length === 0) return;
      if (!tmp3.notifications.length) return;
      this.offset += tmp3.notifications.length;
      this.newestSeqnr = tmp3.notifications[0].seqNum;
      this.notificationIcon.count = tmp3.count;
      const tmp2 = [];
      tmp3.notifications.forEach((element) => {
        const tmp = {
          id: element.seqNum,
          seen: element.seen,
          type: element.type,
          sender: element.subject,
          originalTimestamp: element.date,
          timestamp: calculateTimestamp(element.date),
          content: this.map[element.type].content.replace('%naam_afzender%', element.subject),
          title: this.map[element.type].title,
          path: this.map[element.type].path.replace('%resource%', element.resource),
        };
        tmp2.push(tmp);
      });

      this.notificationItems.forEach((element) => {
        tmp2.push(element);
      });

      this.notificationItems = tmp2;
    }

    private async created() {
      this.offset = 0;
      await this.createNotifications();
      this.interval = setInterval(() => this.getNewerNotifs(), 5000);
    }

    beforeDestroy(): void {
      clearInterval(this.interval);
    }
}
</script>
