<template>
  <v-container fluid
    class='white'>
    <v-layout>
      <v-flex>
      </v-flex>
      <v-flex md11>
        <v-layout column align-center>
          <v-flex>
            <v-avatar
              size=150
              v-if='info.avatar != null'>
              <img :src="'data:image/png;base64,'+info.avatar" alt="avatar"/>
            </v-avatar>
          </v-flex>
          <v-flex>
            <v-simple-table>
              <tbody>
                <tr>
                  <td align-right class="font-weight-bold"> Naam </td>
                  <td width="20px"></td>
                  <td> {{ info.first_name }} {{ info.last_name }} </td>
                </tr>
                <tr>
                  <td align-right class="font-weight-bold"> Email </td>
                  <td width="20px"></td>
                  <td> {{ info.email }} </td>
                </tr>
                <tr>
                  <td align-right class="font-weight-bold"> Instituut </td>
                  <td width="20px"></td>
                  <td> {{ info.institution }} </td>
                </tr>
                <tr v-if="info.is_tutor">
                  <td align-right class="font-weight-bold"> Vakken </td>
                  <td width="20px"></td>
                  <td> {{ info.course }} </td>
                </tr>
                <tr v-if="info.is_tutor">
                  <td align-right class="font-weight-bold"> Score </td>
                  <td width="20px"></td>

                  <td v-if="info.average_score != null"> {{ info.average_score }}/5 </td>
                  <td v-else> Nog geen score </td>
                </tr>
                <tr>
                  <td align-right class="font-weight-bold"> Rol </td>
                  <td width="20px"></td>
                  <td>
                    <div v-if="info.is_employee">Administrator</div>
                    <div v-if="info.is_tutor">Bijlesgever</div>
                    <div v-if="info.is_tutee">Bijlesnemer</div>
                  </td>
                </tr>
                <tr v-if=canEdit >
                  <td align-right class="font-weight-bold"> Avatar <v-icon v-if=avatarUploaded Green right>mdi-checkbox-marked-circle</v-icon> </td>
                  <td width="20px"></td>
                  <td>
                    <v-file-input
                      :rules="avatarRules"
                      accept="image/png, image/jpeg, image/jpg"
                      placeholder="Pick an avatar"
                      prepend-icon="mdi-camera"
                      label="Avatar"
                      v-model="avatarFile"
                      ></v-file-input>
                      <v-btn color="primary" @click="onUploadAvatar">Upload</v-btn>
                  </td>
                </tr>
                <tr v-if="info.is_tutor && canEdit || isAdmin && !info.is_employee">
                  <td align-right class="font-weight-bold"> Contract <h4 v-if="info.validated"> (Gevalideerd) </h4>
                  <v-icon v-if=contractUploadedSuccessfully Green right>mdi-checkbox-marked-circle</v-icon></td>
                  <td width="20px"></td>
                  <td>
                    <template v-if='!isAdmin'>
                      <v-file-input v-model="contractFile" accept=".pdf" label="Choose your contract pdf"></v-file-input>
                      <v-btn color="primary" @click="onUploadContract">Upload</v-btn>
                    </template>
                    <v-btn v-on:click=getContract>Bekijk</v-btn>
                    <template v-if=isAdmin>
                      <v-btn v-if='!info.validated' v-on:click=verifyContract>
                        Verifiëren
                      </v-btn>
                    </template>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-flex>
        </v-layout>
        <template v-if='info.is_tutor'>
          <h2>REVIEWS</h2>
          <reviews :profileID=profileID />
        </template>
      </v-flex>
      <v-flex>
      </v-flex>
    </v-layout>
    <!-- error dialog displays any potential errors -->
    <v-dialog v-model="errorDialog" max-width="300">
        <v-card>
            <v-card-title>{{ errorText }}</v-card-title>
            <v-card-actions>
            <v-btn @click="errorDialog = false" flat>Ok!</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';
import axios from 'axios';
import Reviews from './Reviews.vue';
import store from '../store/index';

@Component({
  components: {
    reviews: Reviews,
  },
})
export default class ProfileInfo extends Vue {
  @Prop({
    default: -1,
    required: true,
  })
  private profileID: number;

  private contractFile:File = null;

  private avatarFile:File = null;

  private avatarURL:string = '';

  private avatarUploaded: boolean = false;

  private contractUploadedSuccessfully: boolean = false;

  private canEdit: boolean = false;

  private isAdmin: boolean = false;

  private errorDialog: boolean = false;

  private errorText: string = '';

  private avatarRules = [
    value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!',
  ];

  /* private contractRules = [
    (v.name : string) => /.+.pdf/.test(v.name) || 'File is not a pdf',
  ]; */

  info: {} = {};

  async created() {
    this.getDetails();
    this.checkRole();
  }

  @Watch('profileID')
  private profileChanged() {
    this.getDetails();
    this.checkRole();
  }

  private getDetails(): void {
    axios({
      method: 'get',
      url: `http://${window.location.hostname}:8000/api/users/detail/${this.profileID}/`,
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
    })
      .then((response) => {
        if (response.status === 200) {
          this.info = response.data;
        } else {
          // this.errorText = 'Er is iets fout gegaan!';
          // this.errorDialog = true;
        }
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: '/aanmelden/' });
        } else if (error.response.status === 403) {
          this.errorDialog = true;
          this.errorText = 'U hebt geen rechten om dit profiel te bekijken.';
        }
      });
  }

  private checkRole() {
    const token = store.getters['app/getAccesToken'];
    const role = store.getters['app/getRole'];
    if (!token) {
      this.$router.push('/aanmelden');
    }

    this.isAdmin = (role === 'admin');
    this.canEdit = (this.profileID === ProfileInfo.getLoggedInUser());
  }

  // Upload contract of tutor
  private async onUploadContract() {
    const cont = new FormData();
    await cont.append('contract.pdf', this.contractFile);
    await axios({
      method: 'post',
      url: `http://${window.location.hostname}:8000/api/users/contract/${this.profileID}/`,
      headers: {
        'content-type': 'multipart/form-data',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      data: cont,
    }).then((response) => {
      this.contractUploadedSuccessfully = true;
      setTimeout(() => {
        this.contractUploadedSuccessfully = false;
      }, 2000);
    }).catch((error) => {
    });
  }

  // Request contract of tutor
  async getContract() {
    await axios({
      method: 'get',
      url: `http://${window.location.hostname}:8000/api/users/contract/${this.profileID}/`,
      headers: {
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      responseType: 'blob',
    }).then((response) => {
      const fileurl = URL.createObjectURL(response.data);
      // window.open(fileurl, "_blank");
      window.open(fileurl);
      // const content = response.headers['content-type']; TO DOWNLOAD FILE
      // download(response.data, 'result.pdf', content)
    }).catch((error) => {
    });
  }

  // Upload avatar of user
  private async onUploadAvatar() {
    const av = new FormData();
    await av.append('avatar', this.avatarFile);
    await axios({
      method: 'post',
      url: `http://${window.location.hostname}:8000/api/users/avatar/${this.profileID}/`,
      headers: {
        'content-type': 'multipart/form-data',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      data: av,
    }).then((response) => {
      this.avatarUploaded = true;
      this.getDetails();
      // this.getAvatar();
      setTimeout(() => {
        this.avatarUploaded = false;
        this.$forceUpdate();
      }, 2000);
    }).catch((error) => {
    });
  }

  private async verifyContract() {
    await axios({
      method: 'post',
      url: `http://${window.location.hostname}:8000/api/users/${this.profileID}/validate/`,
      headers: {
        'content-type': 'multipart/form-data',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
    }).then((response) => {
      this.getDetails();
    }).catch((error) => {
    });
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }
}

</script>
