<template>
  <v-layout row wrap>
    <v-card
      v-for="rev in reviews"
      v-bind:key=rev.id
      class="mx-auto"
      outlined
      >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">
              <v-rating
                v-model=rev.score
                readonly
                color="yellow darken-3"
                background-color="grey darken-1"
                empty-icon="mdi-star-outline"
                full-icon="mdi-star"
                half-icon="mdi-star-half"
                half-increments
                />
          </v-list-item-title>
          <v-list-item-subtitle> {{ rev.review }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <span v-if=noReviews class='font-italic'>Nog geen reviews voor deze bijlesgever</span>
  </v-layout>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';
import axios from 'axios';
import store from '../store/index';
import { getRequest } from '../functions/requests';

  @Component({
  })
export default class Reviews extends Vue {
  @Prop({
    default: -1,
    required: true,
  })
  private profileID: number;

  private rating: number = 2.5;

  private reviews: any[] = [];

  private noReviews = true;

  created() {
    this.getReviews();
  }

  @Watch('profileID')
  private profileChanged() {
    this.getReviews();
  }

  private getReviews(): void {
    axios({
      method: 'get',
      url: `http://${window.location.hostname}:8000/api/requests/reviews/`,
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      params: {
        tutor_id: this.profileID,
      },
    })
      .then((response) => {
        if (response.status === 200) {
          this.reviews = response.data.reviews;
          this.noReviews = (this.reviews.length === 0);
        } else {
          // this.errorText = 'Er is iets fout gegaan!';
          // this.errorDialog = true;
        }
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: '/aanmelden/' });
        } else if (error.response.status === 403) {
          // ERROR
        }
      });
  }
}

</script>
