<template>
  <v-container>
  <v-card tile elevation="5">

    <!-- Table to show request -->
    <v-container grid-list-md align-center>
        <v-layout row wrap align-center justify-center>
            <v-flex md10>
                <v-data-table
                    :items="[request]"
                    :headers="requestHeaders"
                    fixed-header
                    disable-pagination
                    hide-default-footer
                >
                    <template v-slot:item.tutee.full_name="{ item }">
                        <v-avatar small v-if='item.tutee != null && item.tutee.avatar != null'>
                        <img
                            :src="'data:image/png;base64,'+item.tutee.avatar"
                            alt="pic"
                            class="pa-2"
                        >
                        </v-avatar>
                        {{ item.tutee.full_name }}
                    </template>

                    <template v-slot:item.subject="{ item }">
                        <v-tooltip v-model="showSubjectTooltip" top>
                            <template v-slot:activator="{ on }">
                                <div v-on="on">
                                    {{ item.subject | displaySubject }}
                                </div>
                            </template>
                            {{ item.subject }}
                        </v-tooltip>
                    </template>

                    <template v-slot:item.tutee.course="{ item }">
                        <v-chip
                        color="purple lighten-5"
                        text-color="purple darken-2">
                        {{ item.tutee.course }}
                        </v-chip>
                    </template>

                    <template v-slot:item.created_at="{ item }">
                        {{ item.created_at | displayDate }}
                    </template>

                    <template v-slot:item.deadline="{ item }">
                      {{ item.deadline | displayDate}}
                    </template>

                </v-data-table>
            </v-flex>
        </v-layout>
    </v-container>

    <!-- Search params input field -->
    <v-container grid-list-md align-center>
        <v-layout row wrap align-center justify-center>
            <v-flex md9>
                <v-text-field
                    ref = "input"
                    clearable
                    outlined
                    hide-details
                    color=blank
                    label="Trefwoord"
                    prepend-inner-icon="mdi-magnify"
                    @keydown.enter="addTag()"
                    v-model="newTag"
                >
                </v-text-field>
                <v-chip-group
                    mandatory
                    column
                    active-class="primary--text"
                >
                <v-chip
                    v-for="tag in tags"
                    :key="tag"
                    close
                    @click:close="del(tag)"
                    label>
                        {{ tag }}
                </v-chip>
                </v-chip-group>
            </v-flex>
        </v-layout>
    </v-container>

    <!-- Radio buttons -->
    <v-container grid-list-md>
        <v-layout row wrap>
            <v-flex m10>
            <p class="title">Sorteer op:</p>
            <v-radio-group v-model="sortBy" row class="pl-3">
                <v-radio label="Score" value="score" color="primary"></v-radio>
                <v-radio label="Nieuw" value="joined_at" color="primary"></v-radio>
            </v-radio-group>
            </v-flex>
        </v-layout>
    </v-container>

    <!-- Table with tutors -->
    <v-data-table
        :items="currentTutors"
        :headers="headers"
        fixed-header
        disable-pagination
        hide-default-footer
        :loading.sync="loading"
        :sort-by="sortBy"
        :sort-desc="true"
        loading-text="Bijlesgevers aan het zoeken..."
    >

        <template v-slot:no-data>
            <v-layout justify-center>
            <p class="body-2">Geen bijlesgevers gevonden met de gegeven criteria :/</p>
            </v-layout>
        </template>

        <!-- Tutor name -->
        <template v-slot:item.full_name="{ item }">
            <v-avatar v-if='item.avatar != null'>
            <img
                :src="'data:image/png;base64,'+ item.avatar"
                alt="pic"
                class="pa-2"
            >
            </v-avatar>
            {{ item.full_name }}
        </template>

        <!-- Tutor score -->
        <template v-slot:item.score="{ item }">
          <div v-if="item.score == null">Geen score</div>
            <v-progress-circular
                v-if="item.score >= 75 && item.score != null"
                :rotate="-90"
                :value="item.score"
                color = success
                >
                {{ item.score }}
            </v-progress-circular>
            <v-progress-circular
                v-else-if="item.score >= 50 && item.score != null"
                :rotate="-90"
                :value="item.score"
                color = warning
                >
                {{ item.score }}
            </v-progress-circular>
            <v-progress-circular
                v-else-if="item.score != null"
                :rotate="-90"
                :value="item.score"
                color = error
                >
                {{ item.score }}
            </v-progress-circular>
        </template>

        <template v-slot:item.course="{ item }">
            <v-chip
                color="purple lighten-5"
                text-color="purple darken-2">
                {{ item.course }}
            </v-chip>
        </template>

        <template v-slot:item.date_joined="{ item }">
          {{ item.date_joined | displayDate }}
        </template>

        <template v-slot:item.account="{ item }">
            <v-btn color=primary outlined small @click="openProfile(item)">
                <v-icon>mdi-account</v-icon>
                <span>Profiel</span>
            </v-btn>
        </template>

        <template v-slot:item.send="{ item }">
            <v-btn color=primary outlined small @click="sendRequestClicked(item)">
                <v-icon>mdi-send</v-icon>
                <span>Verzoek</span>
            </v-btn>
        </template>

    </v-data-table>
    </v-card>
    <v-dialog
      max-width="800px"
      v-model='profileDialog'
      >
      <profile :profileID=profileID />
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import store from '../store/index';
import { LoginState, SnackBarSate } from '../store/modules/types';
import { app, state } from '../store/modules/loginStore';
import { getRequest, updateRequest } from '@/functions/requests';
import Taglist from '../views/Admin_lesgever_zoeken.vue';
import ProfileInfo from './Profile_Info.vue';

const FuzzySet = require('fuzzyset.js');


const namespace: string = 'snackbar';

@Component({
  components: {
    profile: ProfileInfo,
  },
  name: 'TutorSearch',
  filters: {
    // Filters the Date object to a day/month/year format
    displayDate(pdate: any): string {
      const dateobj: Date = new Date(pdate);
      const month: number = (dateobj.getMonth() + 1) % 12;
      const date: string = `${dateobj.getDate()}/${month}/${dateobj.getFullYear()}`;
      return date;
    },
    displayLength(pLenght: any): string {
      const requestedLength = `${pLenght}u`;
      return requestedLength;
    },
    displaySubject(psubject: string): string {
      const maxSize: number = 80;
      let subject: string = psubject;
      if (subject.length >= maxSize) {
        subject = subject.slice(0, maxSize - 3);
        subject += '...';
      }
      return subject;
    },
  },
})
export default class TutorSearch extends Vue {
    currentTutors = [];

    tutors = [];

    request: any = {};

    showSubjectTooltip: boolean = false;

    tags: Array<string> = [];

    newTag: string = '';

    sortBy: string = '';

    loading: boolean = true;

    errorDialog: boolean = false;

    errorText: string = '';

    profileID: number = -1;

    profileDialog: boolean = false;

    requestHeaders: any[] = [
      {
        text: 'Naam', sortable: false, value: 'tutee.full_name', align: 'left', width: '15%',
      },
      {
        text: 'Richting', value: 'tutee.course', align: 'center', sortable: false, width: '10%',
      },
      {
        text: 'Onderwerp', value: 'subject', width: '35%', align: 'center', sortable: false,
      },
      {
        text: 'Aangevraad op', value: 'created_at', width: '15%', align: 'center', sortable: false,
      },
      {
        text: 'Deadline', value: 'deadline', width: '15%', align: 'center', sortable: false,
      },
    ]

    headers: any[] = [
      {
        text: 'Naam',
        sortable: false,
        value: 'full_name',
        align: 'left',
        width: '20%',
      },
      {
        text: 'Richting', value: 'course', align: 'center', sortable: false, width: '10%',
      },
      {
        text: 'Score', value: 'score', width: '12%', align: 'center', sortable: false,
      },
      {
        text: 'Geeft', value: 'teaches', width: '30%', align: 'center', sortable: false,
      },
      {
        text: 'Lid sinds', value: 'date_joined', width: '15%', align: 'center', sortable: false,
      },
      {
        value: 'account', align: 'right', sortable: false, width: '6%',
      },
      {
        value: 'send', align: 'right', sortable: false, width: '6%',
      },
    ];

    @State('snackbar') snackbar!: SnackBarSate;

    @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

    created() {
      this.getRequest();
      this.getTutors();
    }

    async getRequest() {
      const requestId: string = this.$route.params.requestid;

      const success: any = await getRequest(requestId);

      if (typeof success === 'boolean') {
        this.errorText = 'Er is iets fout gegaan';
        this.errorDialog = true;
      } else {
        this.request = success;
      }
    }

    getTutors(): void {
      axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/users/tutors/validated/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          if (response.status === 200) {
            this.tutors = (response.data.tutors).filter(element => element.validated);
            this.currentTutors = this.tutors;
            this.loading = false;
          } else {
            this.errorText = 'Er is iets fout gegaan!';
            this.errorDialog = true;
            this.loading = false;
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ path: '/aanmelden/' });
          }
        });
    }

    openProfile(tutor) {
      this.profileID = tutor.id;
      this.profileDialog = true;
    }

    sendRequestClicked(tutor) {
      this.request.tutor = {};
      this.request.tutor.id = tutor.id;
      this.request.status = 2;
      this.request.text = 'Bijlesgever gevonden';

      updateRequest(this.request)
        .then((success) => {
          this.setSnackBarMessage({ message: 'Aanvraag verstuurd naar bijlesgever.', type: 'info' });
          this.$router.push({ path: '/PersoonlijkeAanvragen' });
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }

    addTag() {
      if (this.newTag === '') return;
      if (this.tags.indexOf(this.newTag) !== -1) {
        this.newTag = '';
        return;
      }
      this.tags.push(this.newTag.toLowerCase());
      this.newTag = '';
      this.checkFuzz();
    }

    checkFuzz() {
      this.currentTutors = [];

      this.tutors.forEach((tutor) => {
        let success = true;
        const fuzzSet = FuzzySet();
        const tmp = tutor.teaches.split(',');
        tmp.forEach((element) => {
          fuzzSet.add(element);
        });
        this.tags.forEach((tag) => {
          if (fuzzSet.get(tag, null, 0.75) === null) success = false;
        });

        if (success) this.currentTutors.push(tutor);
      });
    }

    del(tag: string) {
      const index = this.tags.indexOf(tag);

      if (index === -1) return;

      this.tags.splice(index, 1);

      if (this.tags.length === 0) this.currentTutors = this.tutors;
      else this.checkFuzz();
    }

    getRequestid(): number {
      return this.request[0].id;
    }
}
</script>
