<template>
  <!-- Log of the current request -->
  <v-timeline>
    <template v-for="(log, index) in logs">
        <v-timeline-item
          :key=index
          fill-dot
          :color="log.status < 50 ? 'success' : 'error'"
          right
          small
        >
          <span slot="opposite">{{ log.timestamp | displayDate }}</span>
          <v-card class="elevation-2">
            <v-card-title class="headline">{{ log.text }}</v-card-title>
            <v-card-text>{{ getLogTooltip(log.id) }}</v-card-text>
          </v-card>
        </v-timeline-item>
    </template>
      </v-timeline>
</template>

<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';
import axios from 'axios';
import router from '../../router';
import store from '../../store/index';
import {
  getColor, getTextColor, getLogDataFromUrl, isErrorState,
} from '../../functions/logRequests';


@Component({
  filters: {
    // Filters the Date object to a day/month/year format
    displayDate(pdate: any): string {
      // Get now
      const now: Date = new Date();
      const date: Date = new Date(pdate);

      // Check if dates are equal
      const equal: boolean = now.getDay() === date.getDay()
                          && now.getMonth() === date.getMonth()
                          && now.getFullYear() === date.getFullYear();

      // If equal display the hour
      if (equal) {
        return date.toLocaleTimeString();
      }
      // If not equal display the date
      return date.toLocaleDateString();
    },
  },
  methods: {
    getColor,
    getTextColor,
  },
})
export default class LogRequest extends Vue {
    @Prop({ default: {} }) logs!: any;

    headers: any[] = [
      {
        text: 'Status', value: 'text', sortable: false,
      },
      {
        text: 'Datum', value: 'timestamp', sortable: false,
      },
    ]

    tooltips: any[] = [];

    async created() {
      await this.initToolTips();
      console.log(this.logs);
      console.log('TEST');
    }

    async initToolTips(): Promise<any> {
      for (let i: number = 0; i < this.logs.length; i += 1) {
        if (this.logs[i].url) {
          const tooltip: string = await this.getTooltipData(this.logs[i]);
          this.tooltips.push({ id: this.logs[i].id, tooltip });
        }
      }
    }

    // Pre: log.url must exist
    async getTooltipData(log: any): Promise<string> {
      const data = await getLogDataFromUrl(log.url);

      return new Promise((resolve) => {
        let tooltip: string = '';
        if (log.status === 50) {
          tooltip += 'Geweigerd door: ';
        } else if (log.status === 101) {
          tooltip += 'Komt van: ';
        } else if (log.status === 2 || log.status === 3) {
          tooltip += 'Bijlesgever: ';
        } else if (log.status === 55) {
          tooltip += 'Gerapporteerd door: ';
        }
        tooltip += `${data.first_name} ${data.last_name}`;
        resolve(tooltip);
      });
    }

    getLogTooltip(logId: number) {
      for (let i: number = 0; i < this.tooltips.length; i += 1) {
        if (this.tooltips[i].id === logId) {
          return this.tooltips[i].tooltip;
        }
      }
    }
}
</script>
