<template>
<v-card tile class="elevation-0">

    <!-- If no action is to be taken -->
    <v-row
    v-if="!nextStep.action"
    align="center"
    justify="center">
        <p
        class="title mr-3">
            {{ nextStep.text }}
        </p>
    </v-row>

    <!-- If action is needed -->
    <v-row
        v-else
        align="center"
        justify="center">

        <p class="title mr-3 mt-3" >{{ nextStep.description }} </p>

        <v-btn
        @click="nextStep.action()"
        color="primary"
        outlined>
            {{ nextStep.text }}
        </v-btn>
    </v-row>

    <!-- Payment proof show dialog -->
    <v-dialog v-model="proofDialog" max-width="800">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="closeProofDialog()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-img
          :src="paymentProofURL"
          alt="Betaal bewijs"
          contain
          max-height="600">
        </v-img>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outlined
            color="error"
            @click="denyPayment"
          >
            <v-icon>mdi-close</v-icon>
            Fout
          </v-btn>
          <v-btn
            outlined
            color="success"
            @click="acceptPayment()"
          >
            <v-icon>mdi-check</v-icon>
            Keur goed
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog to pay back-->
    <v-dialog v-model="payBackDialog" max-width="800">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="payBackDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outlined
            color="error"
            @click="payBackDialog = false"
          >
            <v-icon>mdi-close</v-icon>
            Sluit
          </v-btn>
          <v-btn
            outlined
            color="success"
            @click="payBack"
          >
            <v-icon>mdi-check</v-icon>
            Terugbetaald
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</v-card>
</template>

<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';
import { State, Mutation } from 'vuex-class';
import axios from 'axios';
import router from '../../router';
import { updateRequest } from '@/functions/requests';
import store from '@/store/index';
import { LoginState, SnackBarSate } from '@/store/modules/types';


const namespace: string = 'snackbar';

@Component({
})
export default class NextAction extends Vue {
    @Prop({ default: {} }) request!: any;

    paymentProofURL: any = '';

    nextStep: any = {};

    proofDialog: boolean = false;

    payBackDialog: boolean = false;

    @State('snackbar') snackbar!: SnackBarSate;

    @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

    created() {
      this.initNextStep();
    }

    @Watch('request')
    onRequestChange() {
      this.initNextStep();
    }

    initNextStep() {
      const date: Date = new Date(this.request.date);
      switch (this.request.status) {
        case 1:
          this.nextStep = { description: 'Volgende stap: ', text: 'Zoek een bijlesgever', action: this.searchTutor };
          break;
        case 2:
          this.nextStep = { description: 'Volgende stap: ', text: 'Wachten op accepteren van bijlesgever', action: null };
          break;
        case 3:
          this.nextStep = { description: 'Volgende stap: ', text: 'Wachten op betaling bijlesnemer', action: null };
          break;
        case 4:
          this.nextStep = { description: 'Volgende stap: ', text: 'Keur betaling goed', action: this.viewPayment };
          break;
        case 5:
          this.nextStep = { description: 'Volgende stap: ', text: 'Wachten op gekozen datum', action: null };
          break;
        case 6:
          this.nextStep = { description: `Volgende stap, datum: ${date.toLocaleString()}`, text: 'Verzeker de bijles', action: this.insureRequest };
          break;
        case 7:
          this.nextStep = { description: 'Volgende stap: ', text: 'Wachten op einde bijles', action: null };
          break;
        case 9:
          this.nextStep = { description: 'Volgende stap: ', text: 'Betaling is teruggestort', action: this.payBackDialogOpen };
          break;
        case 55:
          this.nextStep = { description: 'Volgende stap: ', text: 'Zoek een nieuwe bijlesgever', action: this.searchTutor };
          break;
        default:
          this.nextStep = {};
          break;
      }
    }

    searchTutor() {
      this.$router.push({ path: `/zoeken/${this.request.id}` });
    }

    async viewPayment() {
      await this.getPaymentProof();
      this.proofDialog = true;
    }

    // Get payment proof of request
    async getPaymentProof() {
      await axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/requests/payment-proof/${this.request.id}/`,
        headers: {
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
        responseType: 'blob',
      }).then((response) => {
        this.paymentProofURL = URL.createObjectURL(response.data);
      }).catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
    }

    acceptPayment() {
      const updatedRequest: any = JSON.parse(JSON.stringify(this.request));
      updatedRequest.paid = true;
      updatedRequest.status = 5;
      updatedRequest.text = 'Betaling goedgekeurd';

      updateRequest(updatedRequest)
        .then((success) => {
          this.closeProofDialog();
          this.setSnackBarMessage({ message: 'Betaling is goedgekeurd.', type: 'info' });
          this.request = updatedRequest;
          this.$emit('update');
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }

    denyPayment() {
      const updatedRequest: any = JSON.parse(JSON.stringify(this.request));
      updatedRequest.status = 54;
      updatedRequest.text = 'Foutieve betaling ontvangen';

      updateRequest(updatedRequest)
        .then((success) => {
          this.closeProofDialog();
          this.request = updatedRequest;
          this.$emit('update');
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }

    insureRequest() {
      this.request.status = 7;
      this.request.text = 'Verzekerd';

      updateRequest(this.request)
        .then((success) => {
          this.setSnackBarMessage({ message: 'Aanvraag is verzekerd.', type: 'info' });
          this.$emit('update');
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }

    payBackDialogOpen() {
      this.payBackDialog = true;
    }

    payBack() {
      const updatedRequest: any = JSON.parse(JSON.stringify(this.request));
      updatedRequest.status = 10;
      updatedRequest.text = 'Geannuleerd';

      updateRequest(updatedRequest)
        .then((success) => {
          this.payBackDialog = false;
          this.request = updatedRequest;
          this.$emit('update');
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }

    closeProofDialog() {
      this.proofDialog = false;
    }
}
</script>
