<template>
  <v-card tile elevation="5">
    <v-data-table
      :items="requests"
      class="elevation-1"
      :loading.sync="loading"
      loading-text="Aanvragen aan het ophalen..."
      :headers="personal ? personalRequestHeaders : newRequestHeaders"
      fixed-header
      disable-pagination
      hide-default-footer
      :single-expand="true"
      :show-expand="personal"
      sort-by="last_updated"
    >

      <!-- Show if there are no requests -->
      <template v-slot:no-data>
        <v-layout justify-center>
          <p class="body-2">Er zijn geen bijlessen hier.</p>
        </v-layout>
      </template>

      <template v-if="personal" v-slot:expanded-item="{ item }">
        <td :colspan="personalRequestHeaders.length" class="ma-0 pa-0 pb-2" :key="item.id">
          <!-- Next action to take -->
          <next-action :request="item" @update="stepUpdate"></next-action>
          <!-- Log of the request -->
          <log :logs="item.logs"></log>
        </td>
      </template>

      <!-- Display for name -->
      <template v-slot:item.tutee.full_name="{ item }">
        <v-avatar small>
          <img
            :src="'data:image/png;base64,'+item.tutee.avatar"
            alt="pic"
            class="pa-2"
        >
        </v-avatar>
        {{ item.tutee.full_name }}
      </template>

      <!-- Display for course -->
      <template v-slot:item.tutee.course="{ item }">
        <v-chip
          color="purple lighten-5"
          text-color="purple darken-2">
          {{ item.tutee.course }}
        </v-chip>
      </template>

      <!-- Display for created at -->
      <template v-slot:item.created_at="{ item }">
        {{ item.created_at | displayDate }}
      </template>

      <!-- Display for deadline -->
      <template v-slot:item.deadline="{ item }">
        {{ item.deadline | displayDate}}
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip
          :color="getColor(item.status)"
          :text-color="getTextColor(item.status)"
          label>
        {{ item.text }}
        </v-chip>
      </template>

      <template v-slot:item.action="{ item }">
        <v-btn color="primary" outlined @click="assignRequest(item)">
          Behandel
        </v-btn>
      </template>

      <template v-slot:item.cancel="{ item }">
        <v-btn icon color="primary" @click="cancelRequest(item)" v-if="item.status < 7">
          <v-icon>mdi-cancel
          </v-icon>
        </v-btn>
      </template>

    </v-data-table>
    <!-- error dialog displays any potential errors -->
    <v-dialog v-model="errorDialog" max-width="300">
      <v-card>
        <v-card-title>{{ errorText }}</v-card-title>
        <v-card-actions>
          <v-btn @click="errorDialog = false" flat>Ok!</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog for cancelling requests -->
    <v-dialog
    v-model="sure"
    width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Aanvraag annuleren
        </v-card-title>

        <v-card-text>
          Weet u zeker dat u deze aanvraag wilt annuleren?
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            @click="sure = false"
          >
            Nee
          </v-btn>
          <v-btn
            color="success"
            text
            @click="cancel()"
          >
            Ja
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import router from '../../router';
import store from '../../store/index';
import { updateRequest, getRequests, findIndexOfRequest } from '@/functions/requests';
import { getColor, getTextColor } from '../../functions/logRequests';
import LogRequest from './Log_Request.vue';
import { SnackBarSate } from '../../store/modules/types';
import NextAction from './Next_Action.vue';

const namespace: string = 'snackbar';


@Component({
  name: 'RequestList',
  components: {
    log: LogRequest,
    'next-action': NextAction,
  },
  filters: {
    // Filters the Date object to a day/month/year format
    displayDate(pdate: any): string {
      // Get now
      const now: Date = new Date();
      const date: Date = new Date(pdate);

      // Check if dates are equal
      const equal: boolean = now.getDay() === date.getDay()
                          && now.getMonth() === date.getMonth()
                          && now.getFullYear() === date.getFullYear();

      // If equal display the hour
      if (equal) {
        return date.toLocaleTimeString();
      }
      // If not equal display the date
      return date.toLocaleDateString();
    },
  },
  methods: {
    getColor,
    getTextColor,
  },
})
export default class RequestList extends Vue {
  sure = false;

  request = null;

  requests: any[] = [];

  loading: boolean = true;

  errorDialog: boolean = false;

  errorText: string = '';

  pagination: any = {
    sortBy: 'date',
  };

  personalRequestHeaders: any[] = [
    {
      text: 'Naam', value: 'tutee.full_name', width: '20%', align: 'left', sortable: false,
    },
    {
      text: 'Richting', value: 'tutee.course', width: '10%', align: 'center', sortable: false,
    },
    {
      text: 'Onderwerp', value: 'subject', width: '35%', align: 'center', sortable: false,
    },
    {
      text: 'Aangevraagd op', value: 'created_at', width: '15%', align: 'center', sortable: true,
    },
    {
      text: 'Deadline', value: 'deadline', width: '15%', align: 'center', sortable: true,
    },
    {
      text: 'Status', value: 'status', width: '10%', align: 'center',
    },
    {
      text: '', value: 'cancel',
    },
    {
      text: '', value: 'data-table-expand',
    },
  ];

  newRequestHeaders: any [] = [
    {
      text: 'Naam', value: 'tutee.full_name', width: '20%', align: 'left', sortable: false,
    },
    {
      text: 'Richting', value: 'tutee.course', width: '10%', align: 'center', sortable: false,
    },
    {
      text: 'Onderwerp', value: 'subject', width: '35%', align: 'center', sortable: false,
    },
    {
      text: 'Aangevraagd op', value: 'created_at', width: '15%', align: 'center', sortable: true,
    },
    {
      text: 'Deadline', value: 'deadline', width: '15%', align: 'center', sortable: true,
    },
    {
      text: '', value: 'action',
    },
    {
      text: '', value: 'cancel',
    },
  ]

  @Prop({ default: false }) personal!: boolean;

  @State('snackbar') snackbar!: SnackBarSate;

  @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

  created() {
    this.onViewChange();
  }

  @Watch('personal')
  async onViewChange() {
    let requestUrl: string = `http://${window.location.hostname}:8000/api/requests/`;
    if (!this.personal) {
      requestUrl += 'new/';
    }
    this.requests = await getRequests(requestUrl);
    this.loading = false;
  }

  stepUpdate() {
    this.onViewChange();
  }

  assignRequest(request: any): void {
    request.status = 1;
    request.text = 'Toegekend';
    request.admin_id = RequestList.getLoggedInUserId();

    updateRequest(request)
      .then((success) => {
        this.setSnackBarMessage({ message: 'Aanvraag is verplaatst naar persoonlijke aanvragen.', type: 'info' });
        const index: number = findIndexOfRequest(request, this.requests);
        this.requests.splice(index, 1);
      })
      .catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
  }

  cancelRequest(request) {
    this.request = request;
    this.sure = true;
  }

  cancel() {
    const updatedRequest: any = JSON.parse(JSON.stringify(this.request));

    if (updatedRequest.paid) {
      updatedRequest.status = 9;
      updatedRequest.text = 'Terugbetalen';
    } else {
      updatedRequest.status = 10;
      updatedRequest.text = 'Geannuleerd';
    }
    updateRequest(updatedRequest)
      .then((success) => {
        this.setSnackBarMessage({ message: 'Aanvraag is geannuleerd.', type: 'info' });
        this.request = updatedRequest;
        const index: number = findIndexOfRequest(updatedRequest, this.requests);
        this.requests.splice(index, 1);
        this.sure = false;
        this.request = null;
      })
      .catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
  }

  static getLoggedInUserId(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }
}
</script>
