<template>
    <v-container grid-list-md align-center>
        <v-layout row align-center justify-center>
            <v-flex xs12 md9>
                <tutor-search></tutor-search>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TutorSearch from '../components/Tutor_Search.vue';

@Component({
  components: {
    'tutor-search': TutorSearch,
  },
})
export default class Taglist extends Vue {
}
</script>
