<template>
    <v-container grid-list-md align-center>
            <v-layout row align-center justify-center>
                <v-flex xs12 md9>
    <v-card tile elevation="5">
    <v-container grid-list-md align-center>
      <v-layout row wrap align-center justify-center>
          <v-flex md9>
              <v-text-field
                  ref = "input"
                  clearable
                  outlined
                  hide-details
                  color=blank
                  label="Bijlesgever zoeken"
                  prepend-inner-icon="mdi-magnify"
                  @keydown.enter="checkFuzz()"
                  v-model="tag"
              >
              </v-text-field>
              <v-checkbox v-model="only" v-on:change="filter()" color="success" label="Toon enkel bijlesgevers die niet geverifiëerd zijn."></v-checkbox>
          </v-flex>
      </v-layout>
    </v-container>
      <v-data-table
              :items="currentTutors"
              :headers="headers"
              fixed-header
              disable-pagination
              hide-default-footer
              :loading.sync="loading"
              :sort-desc="true"
              loading-text="Bijlesgevers aan het zoeken..."
          >

            <template v-slot:no-data>
                <v-layout justify-center>
                <p class="body-2">Geen bijlesgevers gevonden met de gegeven criteria :/</p>
                </v-layout>
            </template>

            <!-- Tutor name -->
            <template v-slot:item.full_name="{ item }">
                <v-avatar>
                <img
                    :src="'data:image/png;base64,'+item.avatar"
                    alt="pic"
                    class="pa-2"
                >
                </v-avatar>
                {{ item.full_name }}
            </template>

            <!-- Tutor score -->
            <template v-slot:item.score="{ item }">
              <div v-if="item.score == null">Geen score</div>
                <v-progress-circular
                    v-if="item.score >= 75 && item.score != null"
                    :rotate="-90"
                    :value="item.score"
                    color = success
                    >
                    {{ item.score }}
                </v-progress-circular>
                <v-progress-circular
                    v-else-if="item.score >= 50 && item.score != null"
                    :rotate="-90"
                    :value="item.score"
                    color = warning
                    >
                    {{ item.score }}
                </v-progress-circular>
                <v-progress-circular
                    v-else-if="item.score != null"
                    :rotate="-90"
                    :value="item.score"
                    color = error
                    >
                    {{ item.score }}
                </v-progress-circular>
            </template>

            <template v-slot:item.course="{ item }">
                <v-chip
                    color="purple lighten-5"
                    text-color="purple darken-2">
                    {{ item.course }}
                </v-chip>
            </template>

            <template v-slot:item.date_joined="{ item }">
              {{ item.date_joined | displayDate }}
            </template>

            <template v-slot:item.account="{ item }">
                <v-btn color=primary outlined small @click="openProfile(item)">
                    <v-icon>mdi-account</v-icon>
                    <span>Profiel</span>
                </v-btn>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog
      max-width="800px"
      v-model='profileDialog'
      >
      <profile :profileID=profileID />
    </v-dialog>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import router from '../router';
import store from '../store/index';
import ProfileInfo from '../components/Profile_Info.vue';

const FuzzySet = require('fuzzyset.js');

@Component({
  components: {
    profile: ProfileInfo,
  },
  filters: {
    // Filters the Date object to a day/month/year format
    displayDate(pdate: any): string {
      const dateobj: Date = new Date(pdate);
      const month: number = (dateobj.getMonth() + 1) % 12;
      const date: string = `${dateobj.getDate()}/${month}/${dateobj.getFullYear()}`;
      return date;
    },
    displayLength(pLenght: any): string {
      const requestedLength = `${pLenght}u`;
      return requestedLength;
    },
    displaySubject(psubject: string): string {
      const maxSize: number = 80;
      let subject: string = psubject;
      if (subject.length >= maxSize) {
        subject = subject.slice(0, maxSize - 3);
        subject += '...';
      }
      return subject;
    },
  },
})
export default class TutorList extends Vue {
    headers: any[] = [
      {
        text: 'Naam',
        sortable: false,
        value: 'full_name',
        align: 'left',
        width: '20%',
      },
      {
        text: 'Richting', value: 'course', align: 'center', sortable: false, width: '10%',
      },
      {
        text: 'Score', value: 'score', width: '12%', align: 'center', sortable: false,
      },
      {
        text: 'Geeft', value: 'teaches', width: '30%', align: 'center', sortable: false,
      },
      {
        text: 'Lid sinds', value: 'date_joined', width: '15%', align: 'center', sortable: false,
      },
      {
        value: 'account', align: 'right', sortable: false, width: '6%',
      },
      {
        value: 'send', align: 'right', sortable: false, width: '6%',
      },
    ];

    private map: { [notifType: string]: string; } = {
    };

    only = false;

    tag = '';

    loading: boolean = true;

    errorDialog: boolean = false;

    errorText: string = '';

    tutors: any[] = [];

    currentTutors: any[] = [];

    namelist = [];

    profileID: number = -1;

    profileDialog: boolean = false;

    getTutors(): void {
      axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/users/tutors/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          if (response.status === 200) {
            this.tutors = response.data.tutors;
            this.tutors.forEach((tutor) => {
              this.namelist.push(tutor.full_name);
              this.currentTutors = this.tutors;
            });
            this.loading = false;
          } else {
            this.errorText = 'Er is iets fout gegaan!';
            this.errorDialog = true;
            this.loading = false;
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ path: '/aanmelden/' });
          }
        });
    }

    openProfile(tutor) {
      this.profileID = tutor.id;
      this.profileDialog = true;
    }

    filter() {
      if (!this.only) {
        this.currentTutors = this.tutors;
        return;
      }
      const tmp = [];
      this.tutors.forEach((element) => {
        if (!element.validated) tmp.push(element);
      });

      this.currentTutors = tmp;
    }

    checkFuzz() {
      this.currentTutors = [];

      if (this.tag === '') { this.currentTutors = this.tutors; return; }

      this.tutors.forEach((tutor) => {
        const fuzzSet = FuzzySet();
        fuzzSet.add(tutor.full_name);
        if (fuzzSet.get(this.tag, null, 0.3) !== null) this.currentTutors.push(tutor);
      });
    }

    private async created() {
      await this.getTutors();
    }
}
</script>
