<template>
  <v-container>
    <v-card class="ma-5 pa-5">
      <v-card-title v-if='requestInfo[0] != null'>
         Geef een eerlijke review over <span class='font-weight-bold'> {{ requestInfo[0].tutor.full_name }}</span>
      </v-card-title>
      <h4 style="color: red;">{{ this.error }}</h4>
      <v-form lazy-validation ref="form" v-model="valid">
        <v-row>
          <v-rating
            v-model="review.score"
            background-color="orange lighten-3"
            color="orange"
            x-large
            half-increments
            hover
            required
          />
        </v-row>
        <v-row>
          <v-textarea
            v-model="review.content"
            color="default"
            background-color="grey lighten-2"
            label="Schrijf een review..."
            required
            :rules=contentRules
            counter=1200
            auto-grow
            autlined
            />
        </v-row>
        <v-card-actions>
          <v-btn color="success" class="mr-4" @click="validate">
            Review versturen
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <v-dialog
      v-model="okPopup"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Review</v-card-title>
        <v-card-text v-if='requestInfo[0] != null'>
          De review voor {{ requestInfo[0].tutor.full_name }}  is succesvol doorgestuurd!
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            to='/Aanvragen/'
          >
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';
import axios from 'axios';
import store from '../store/index';
import { getRequest } from '../functions/requests';

  @Component({
  })
export default class CreateReview extends Vue {
  private requestID: number;

  private valid: boolean = true;

  private okPopup: boolean = false;

  private requestInfo: {} = {};

  private error: string = '';

  private review = {
    content: null,
    score: 2.5,
  }

  private contentRules = [
    v => !!v || 'Een review is vereist',
  ];

  created() {
    this.requestID = Number(this.$route.params.requestid) || -1;

    this.getRequestInfo();
  }

  @Watch('profileID')
  private requestChanged() {
    this.getRequestInfo();
  }

  private getRequestInfo(): void {
    axios({
      method: 'get',
      url: `http://${window.location.hostname}:8000/api/requests/specific/`,
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      params: {
        request_id: this.requestID,
      },
    })
      .then((response) => {
        if (response.status === 200) {
          this.requestInfo = response.data;
        } else {
          // this.errorText = 'Er is iets fout gegaan!';
          // this.errorDialog = true;
        }
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: '/aanmelden/' });
        } else {
          // ERROR
        }
      });
  }

  async validate() {
    if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
      this.sendReview();
    }
  }

  private async sendReview() {
    this.error = '';

    axios({
      method: 'patch',
      url: `http://${window.location.hostname}:8000/api/requests/${this.requestID}/reviews/`,
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      data: {
        score: this.review.score,
        review: this.review.content,
        tutee_id: CreateReview.getLoggedInUser(),
      },
    })
      .then((response) => {
        if (response.status === 200) {
          this.okPopup = true;
        }
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.error = 'Niet bevoegd om een review over deze persoon te schrijven';
        } else {
          // ERROR
        }
      });
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }
}

</script>
