<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-row
                    align="center"
                    justify="center"
                >
        <v-card class="ma-5 pa-5" width="50%">
            <v-card-title>
              <h3>Pas mails aan</h3>
            </v-card-title>
            <v-form lazy-validation ref="form" v-model="valid">
                <v-row>
                    <v-col class="my-0 py-0">
                        <v-combobox
            v-model="select"
            v-on:change="filterEmailChanged(select.pk)"
            :items="allMails"
            item-value="pk"
            item-text="email_type"
            label="Choose an email type"
          ></v-combobox>
                    </v-col>
                </v-row>
                <v-form>
                  Onderwerp :
                  <v-divider></v-divider>
                <v-text-field
        counter
        maxlength="400"
        full-width
        v-model= EditMail[0].subject
      ></v-text-field>
      Mail :
      <v-divider></v-divider>
      <v-textarea
        counter
        maxlength="1200"
        full-width
        rows="15"
        v-model= EditMail[0].content
      ></v-textarea>
    </v-form>
                <v-card-actions>
                    <v-btn color="success" class="mr-4" @click="saveMail">
                        Save Mail
                    </v-btn>
                </v-card-actions>
                 <h1 v-if="emailSavedSuccessfully"> Email is opgeslagen !</h1>
            </v-form>
        </v-card>
        </v-row>
    </v-col>
  </v-row>
    </v-container>
</template>
<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

import { register } from '@/functions/authorisatie';
import store from '@/store/index';

@Component({
})
export default class Mails extends Vue {
    valid: boolean = true

    private emailSavedSuccessfully = false ;

    private select:any=[];

    EditMail: any[] = [{ content: '', subject: '' }];

    private allMails:any = [];

    async mounted() {
      await this.loadMails();
    }

    // Load all mails
    async loadMails() {
      await axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/mails/all/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      }).then((response) => {
        this.allMails = (JSON.parse(JSON.stringify(response.data))).mails;
        setTimeout(() => {
          this.emailSavedSuccessfully = false;
        }, 2000);
      }).catch((error) => {
      });
    }

    filterEmailChanged(pk) {
      this.EditMail.pop();
      this.EditMail.push(this.allMails[pk]);
    }

    // Save mails
    async saveMail() {
      await axios({
        method: 'put',
        url: `http://${window.location.hostname}:8000/api/mails/${this.EditMail[0].pk}/edit/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
        data: {
          subject: this.EditMail[0].subject,
          content: this.EditMail[0].content,
        },
      }).then((response) => {
        this.emailSavedSuccessfully = true;
        this.loadMails();
      }).catch((error) => {
      });
    }
}
</script>
