<template>
    <div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import router from '../router';
import store from '@/store/index';

@Component({
})
export default class Navigation extends Vue {
  beforeCreate() {
    const token = store.getters['app/getAccesToken'];
    const role = store.getters['app/getRole'];
    if (token) {
      if (role === 'admin') this.$router.push('/PersoonlijkeAanvragen');
      else if (role === 'tutor') this.$router.push('/bijlesaanvragen');
      else if (role === 'tutee') this.$router.push('/aanvragen');
      else this.$router.push('/aanmelden');
    } else this.$router.push('/aanmelden');
  }
}
</script>
