<template>
<v-container fluid>
  <v-row>
    <v-col cols="12">
      <v-row
        align="center"
        justify="center"
      >
        <v-img
          alt="Logo van Student Teach"
          src="@/assets/student_teach_logo_large.png"
          max-width=40%>
        </v-img>
        <div>
          <v-card>
            <v-card-title class="pb-0">
              <h3>Aanmelden bij Student Teach</h3>
            </v-card-title>
            <v-card-text
            v-if=loginFailed
            class="red--text justify-center pb-0"
            >E-mail of wachtwoord is foutief </v-card-text>
            <v-card-text>
              <v-form class="pb-0 mb-0">
                <!-- e-mailadres -->
                <v-text-field
                  color=blank
                  label="E-mailadres"
                  prepend-icon="mdi-account-circle"
                  v-model="username"
                  type="email"
                  :rules="emailRules"
                  required
                  @keydown.enter="fieldEnterClicked($event)"/>
                <!-- wachtwoord -->
                <v-text-field
                  color=blank :type="showPassword ? 'text' : 'password'"
                  label="Wachtwoord"
                  required
                  prepend-icon="mdi-lock"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  v-model="password"
                  :rules="passwordRules"
                  @keydown.enter="fieldEnterClicked($event)"/>
              </v-form>
            </v-card-text>
            <v-card-actions class="justify-center mt-0 pt-0">
              <v-btn color=primary width=50% class="white--text"
              @click="login()">Aanmelden</v-btn>
            </v-card-actions>
            <v-card-actions class="justify-center">
              <a href=#>Wachtwoord vergeten?</a>
            </v-card-actions>
            <v-divider></v-divider>
            <v-subheader>Nieuw bij Student Teach?</v-subheader>
            <v-card-actions class="justify-center pb-5">
              <v-btn outlined color=primary width=50% to="/registreer"
              >Registreer hier!</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-row>
    </v-col>
  </v-row>
  <v-dialog
    v-model="adblocker"
    width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          ADBLOCKER GEDETECTEERD
        </v-card-title>

        <v-card-text>
          Voor een goede werking van deze website te garanderen vragen wij om Adblocker uit te schakelen op deze website. Wij garanderen u dat er geen reclame zal worden getoond.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            @click="adblocker = false"
          >
            Sluiten
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
<div class="adBanner"></div>
</v-container>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { authenticate, refreshAccesToken } from '@/functions/authorisatie';

@Component
export default class LoginForm extends Vue {
private adblocker = false;

private username = '';

private password = '';

private showPassword= false;

loginFailed: boolean = false;

private passwordRules = [
  (v: string) => !!v || 'Wachtwoord is vereist',
];

private emailRules = [
  (v: string) => /.+@.+/.test(v) || 'E-mail is ongeldig',
];

async login() {
  const response = await authenticate(this.username, this.password);
  if (!response) {
    this.loginFailed = false;
    setInterval(refreshAccesToken.bind(this), 3000000); // refresh AccesToken every 50min.

    this.$router.push({ name: 'home' });
  } else {
    this.loginFailed = true;
  }
}

fieldEnterClicked(event: KeyboardEvent) {
  event.stopPropagation();
  this.login();
}

mounted() {
  const adblockEnabled = false;

  // add test element and get its styles
  const adElement = document.getElementsByClassName('adBanner')[0];
  const adElementStyle = getComputedStyle(adElement, null);

  if (adElementStyle.display === 'none') { // Adblock enabled
    this.adblocker = true;
  } else { // Adblock disabled
    this.adblocker = false;
  }
}
}
</script>
