<style>
  .header-container {
    display: none !important;
  }

</style>

<template>
<v-container fluid>
  <v-layout row wrap justify-center width="100%">
    <v-flex md4>
      <!-- conversation tab -->
      <conversationlist
        :roomID=currentRoomID
        @updateSocket='switchToSocket'
        @receiveMessage='receiveMessage'
      ></conversationlist>
    </v-flex>

    <v-flex md7 class="mx-4">
      <!-- Display messages -->
      <chatbox
        :roomID=currentRoomID
        :roomSocket=currentRoomSocket
        :receivedMessage=receivedMessage
        timedatepicker=true
      ></chatbox>
    </v-flex>

  </v-layout>
</v-container>
</template>

<script lang="ts">

import { Component, Vue, Watch } from 'vue-property-decorator';
import Chatbox from '../components/Chat_Chatbox.vue';
import ConversationList from '../components/Chat_ConversationList.vue';


@Component({
  components: {
    chatbox: Chatbox,
    conversationlist: ConversationList,
  },

})
export default class Messages extends Vue {
  // Holds room info for updating children
  private currentRoomSocket: WebSocket = null;

  private currentRoomID: number = -1;

  private receivedMessage: any = null;

  // Timepicker
  todayStr : String = new Date().toISOString().substr(0, 10);

  today : Date = new Date();

  timepicker: any = null;

  datepicker: any = this.todayStr;

  expectedMinDate: String = '';

  static addDays(date: Date, days: number): Date {
    date.setDate(date.getDate() + days);

    return date;
  }

  created() {
    this.expectedMinDate = Messages.addDays(this.today, 2).toISOString().substr(0, 10);
  }

  mounted() {
    // Check current RoomID
    this.currentRoomID = Number(this.$route.params.roomid) || -1;
  }

  switchToSocket(sock: WebSocket) {
    this.currentRoomSocket = sock;
  }

  private receiveMessage(message: any) {
    this.receivedMessage = message;
  }

  @Watch('$route.params.roomid')
  conversationUpdate() {
    this.currentRoomID = Number(this.$route.params.roomid) || -1;
  }
}

</script>
