<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-row
                    align="center"
                    justify="center"
                >
        <v-card class="ma-5 pa-5" width="50%">
            <v-card-title>
              <h3>Bijles aanvragen (2 uur)</h3>
            </v-card-title>
            <h4 style="color: red;">{{ this.error }}</h4>
            <v-form lazy-validation ref="form" v-model="valid">
                <v-row>
                    <v-col>
                        <v-text-field
                        v-model="subject"
                        color="default"
                        label="Onderwerp (bv. Wiskunde - Statistiek, Algemene Taalwetenschap)"
                        :rules="subjectRules"
                        required
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-date-picker
                    v-model="picker"
                    :landscape="$vuetify.breakpoint.smAndUp"
                    :rules="[v => !!v || 'Gelieven een datum te kiezen!']"
                    full-width
                    color="primary"
                    locale="nl-be"
                    show-current
                    :min="minimumdate"
                    :first-day-of-week="1"
                    ></v-date-picker>
                </v-row>

                <v-checkbox
                color="success"
                :rules="[v => !!v || '']"
                required
                >
                <span slot='label'>Ik ga akkoord met de
                  <v-dialog
                  v-model="dialog"
                  width="500"
                  >
                    <template v-slot:activator="{ on }">
                      <a v-on='on'>Facturering van Student Teach</a>
                    </template>

                    <v-card>
                      <v-card-title
                        class="headline grey lighten-2"
                        primary-title
                      >
                        FACTURERING VAN STUDENT TEACH
                      </v-card-title>

                      <v-card-text>
                        Regels over de facturering:
                        <br>
                        - Bij misbruik wordt een administrator op de hoogte gebracht.
                        <br>
                        - ...
                      </v-card-text>

                      <v-divider></v-divider>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="red"
                          text
                          @click="dialog = false"
                        >
                          Sluiten
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </span>
                </v-checkbox>
                <v-card-actions>
                    <v-btn color="success" class="mr-4" @click="validate">
                        Verstuur aanvraag!
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
        </v-row>
    </v-col>
  </v-row>
    </v-container>
</template>
<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import store from '@/store/index';

@Component({
})
export default class Registration extends Vue {
    valid: boolean = true

    private picker = new Date(Date.now() + 604800000).toISOString().substr(0, 10);

    private minimumdate = new Date(Date.now() + 604800000).toISOString().substr(0, 10);

    private error = '';

    private pdf = 'De facturering van Student Teach';

    private subject = '';

    private dialog: boolean = false;


    private subjectRules = [
      v => !!v || 'Onderwerp is vereist',
    ];

    async validate() {
      this.error = '';

      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        const response = await axios({
          method: 'post',
          url: `http://${window.location.hostname}:8000/api/requests/`,
          headers: {
            'content-type': 'application/json',
            Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
          },
          data: {
            subject: this.subject,
            deadline: (new Date(this.picker).toISOString()),
          },
        });

        if (response.status === 201) {
          this.$router.push({ name: 'home' });
        }
      }
    }
}
</script>
