<template>
<v-container fluid>
<v-row>
  <v-col cols="12">
      <v-row
          align="center"
          justify="center"
      >
        <v-card class="ma-5 pa-5" width="50%">
            <v-card-title>
              <h3>Betalen bij StudentTeach m.b.v. </h3>
              <v-img src = "https://drieeycken.be/wp-content/uploads/sites/4/2017/04/payconiq.png"  class="ml-6" max-width="8em"
              > </v-img>
            </v-card-title>
            <v-form lazy-validation ref="form" >
                <v-row>
                    <v-col class="my-0 py-0">
                       <v-img  v-bind:src = QRlink
                          max-width="500"
                          max-height="300"
                          aspect-ratio="1.0"
                          contain></v-img>
                          <v-card-text v-if="alreadypaidSuccesfully"> <h1> Aanvraag is al betaald ! </h1> </v-card-text>
                    </v-col>
                </v-row>
                <v-row>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <v-card-subtitle v-if=!codeExpired > Code vervalt in {{ expiredInStr }}  </v-card-subtitle>
                      <v-card-subtitle v-else> Code vervallen, herlaad de pagina. </v-card-subtitle>
                    </div>
                  </div>
                </v-row>
                <v-row>
                   <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <v-card-title
                        class="headline"
                      > Beschrijving : {{requestObject.subject}} </v-card-title>

                      <v-card-subtitle> Bedrag : {{this.requestObject.price/100}} €</v-card-subtitle>
                    </div>
                   </div>
                </v-row>
                <v-card-actions>
                    <v-btn color="warning" class="align-center" @click="CancelPayment">
                      Cancel betaling
                    </v-btn>
                    <v-btn v-if="paidSuccesfully" color="green white--text" class="align-center" @click="completePayment">
                      Voltooi betaling
                    </v-btn>
                    <v-card-text v-if="paidSuccesfully"> BETAALD ! </v-card-text>
                </v-card-actions>
            </v-form>
        </v-card>
        </v-row>
    </v-col>
  </v-row>
</v-container>
</template>
<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import { register } from '@/functions/authorisatie';
import store from '@/store/index';
import { state } from '../store/modules/loginStore';
import { updateRequest, getRequests, findIndexOfRequest } from '@/functions/requests';
import { SnackBarSate } from '../store/modules/types';

const namespace: string = 'snackbar';

@Component({
})
export default class Pay extends Vue {
  @State('snackbar') snackbar!: SnackBarSate;

  @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

    private paidSuccesfully = false ;

    private alreadypaidSuccesfully = false ;

    private paymentCancelled = false ;

    private codeExpired = false ;

    private QRlink = '';

    private payObject:any = [];

    private requestObject:any = [];

    private intervalTimerID: number;

    private expiredInStr: string = '';

    async mounted() {
      const requestID = Number(this.$route.params.requestid);
      await this.getRequest(requestID);
      await this.CreatePayRequest();

      // Start timer when payment received
      if (!this.paidSuccesfully && !this.alreadypaidSuccesfully && !this.paymentCancelled && !this.codeExpired) {
        this.intervalTimerID = setInterval(this.update, 1000);
      }
    }

    beforeDestroy(): void {
      clearInterval(this.intervalTimerID);
    }

    // Update every second timer
    private update() {
      // End timer if payment changed/succeded
      if (this.paidSuccesfully || this.alreadypaidSuccesfully || this.paymentCancelled || this.codeExpired) {
        clearInterval(this.intervalTimerID);
        return;
      }
      this.updateCountdown();

      // Check payment
      this.getPaymentStatus();
    }

    // Update countdown timer
    private updateCountdown() {
      // Get difference in minutes
      /* eslint-disable */
      const diffStr = this.calcDifferentsStr(new Date(), new Date(this.payObject['expiresAt']));

      // If diffStr is null --> code Expired
      if (diffStr === null) {
        this.codeExpired = true;
      } else {
        this.expiredInStr = diffStr;
      }
      /* eslint-enable */
    }

    // returns differents in Dates as string in format 'mm:ss'
    private calcDifferentsStr(now: Date, deadline: Date): string {
      if ((deadline.getTime() - now.getTime()) <= 0) {
        return null;
      }
      const timeDiff = Math.round(Math.abs(deadline.getTime() - now.getTime()) / 1000);

      // Get time string
      const minStr = Math.floor(timeDiff / 60).toString().padStart(2, '0');
      const secStr = (timeDiff % 60).toString().padStart(2, '0');

      const timeStr = minStr + String(':') + secStr;

      return timeStr;
    }

    private completePayment() {
      this.$router.push({ name: 'home' });
    }

    // Create pay request
    // data needs to be variabel !
    async CreatePayRequest() {
      await axios({
        method: 'post',
        url: `http://${window.location.hostname}:8000/api/payments/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
        data: {
          request_id: this.requestObject.id,
          amount: this.requestObject.price, // (5000 cent = 50 euro)
          description: this.requestObject.subject,
        },
      }).then((response) => {
        this.payObject = (JSON.parse(JSON.stringify(response.data))).Payment;
        this.QRlink = this.payObject.qrcode;
      }).catch((error) => {
        if (error.response.status === 409) {
          this.alreadypaidSuccesfully = true;
        }
      });
    }

    // Cancel pay request
    async CancelPayment() {
      await axios({
        method: 'post',
        url: `http://${window.location.hostname}:8000/api/payments/cancel/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
        data: {
          request_id: this.requestObject.id,
        },
      }).then((response) => {
        this.paymentCancelled = true;
        this.$router.go(-1);
      }).catch((error) => {
        this.$router.go(-1);
      });
    }

    // ask request info
    // data in URL needs to be variabel !
    // TODO: GET REQUEST_ID FROM URL
    async getRequest(requestID: number) {
      await axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/requests/detail/${requestID}/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      }).then((response) => {
        this.requestObject = (JSON.parse(JSON.stringify(response.data)));
      }).catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
    }

    // ask status payment
    // data needs to be variabel !
    async getPaymentStatus() {
      await axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/payments/status/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
        params: {
          request_id: this.requestObject.id,
        },
      }).then((response) => {
        const status = (JSON.parse(JSON.stringify(response.data))).Status;
        if (status.status === 'SUCCEEDED') {
          this.setRequestPayed(this.requestObject);
          this.paidSuccesfully = true;
        }
      }).catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
    }

    private setRequestPayed(request: any): void {
      request.status = 5;
      request.text = 'Betaald via Payconic';
      updateRequest(request)
        .then((success) => {
          this.$router.go(-1);
          this.setSnackBarMessage({ message: 'Betaling succesvol doorgegaan!', type: 'success' });
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }
}
</script>
