<template>
<div>
  <profielinfo :profileID=profileID ></profielinfo>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ProfileInfo from '../components/Profile_Info.vue';
import store from '../store/index';

@Component({
  components: {
    profielinfo: ProfileInfo,
  },
})
export default class Profile extends Vue {
  profileID: number = this.getProfileID();


  private getProfileID(): number {
    // Returns id if correct id is given, else -1
    const id = Number(this.$route.params.profileid) || -1;

    // If no id is given
    if (id === -1) {
      return Profile.getLoggedInUser();
    }

    return id;
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }
}

</script>
