<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-row
                    align="center"
                    justify="center"
                >
        <v-card class="ma-5 pa-5" width="50%">
            <v-card-title>
              <h3>Registreren bij Student Teach</h3>
            </v-card-title>
            <h4 style="color: red;">{{ this.error }}</h4>
            <v-form lazy-validation ref="form" v-model="valid">
                <v-row>
                    <v-col class="my-0 py-0">
                        <v-text-field
                        v-model="user.name"
                        color="default"
                        label="Voornaam"
                        required
                        :rules=nameRules
                        max-width="45%"
                        ></v-text-field>
                    </v-col>
                    <v-col class="my-0 py-0">
                        <v-text-field
                        v-model="user.surname"
                        color="default"
                        label="Achternaam"
                        :rules=nameRules
                        required
                        max-width="45%"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-select
                        v-model="user.institution"
                        color="success"
                        :items="instellingen"
                        label="Onderwijsinstelling"
                        required
                        v-on:change="availableStudies = map[user.institution];"
                        ></v-select>
                    </v-col>
                    <v-col>
                        <v-select v-if="user.institution"
                        v-model="user.course"
                        color="success"
                        required
                        :items="availableStudies"
                        label="Richting"
                        ></v-select>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                        v-model="user.email"
                        color="default"
                        label="E-mail"
                        :rules="emailRules"
                        required
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="user.password"
                            color=blank :type="showPassword ? 'text' : 'password'"
                            label="Wachtwoord"
                            :rules="passwordRules"
                            required></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field
                            color=blank :type="showPassword ? 'text' : 'password'"
                            label="Wachtwoord herhalen"
                            :rules="passwordRulesSecond"
                            required
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="showPassword = !showPassword"></v-text-field>
                    </v-col>
                </v-row>
                <v-radio-group v-model="user.role" row required>
                    <v-radio label="Ik wil bijles krijgen (Tutee)" value="tutee" color="success"></v-radio>
                    <v-radio label="Ik wil bijles geven (Tutor)" value="tutor" color="success"></v-radio>
                </v-radio-group>

                 <v-row>
                    <v-col>
                        <v-text-field
                        v-if="user.role == 'tutor'"
                        v-model="user.teaches"
                        color="default"
                        label="Welke vakken wil je geven? (Opsplitsen met behulp van een comma)"
                        required
                        ></v-text-field>
                    </v-col>
                </v-row>

                <v-checkbox
                color="success"
                :rules="[v => !!v || '']"
                required
                >
                  <span slot='label'>Ik ga akkoord met de
                    <v-dialog
                    v-model="dialog"
                    width="500"
                    >
                      <template v-slot:activator="{ on }">
                        <a v-on='on'>Termen en Voorwaarden</a>
                      </template>

                      <v-card>
                        <v-card-title
                          class="headline grey lighten-2"
                          primary-title
                        >
                          TERMEN EN VOORWAARDEN
                        </v-card-title>

                        <v-card-text>
                          - Wees beleefd
                          <br>
                          - Bij misbruik wordt een administrator op de hoogte gebracht.
                          <br>
                          - ...
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="red"
                            text
                            @click="dialog = false"
                          >
                            Sluiten
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </span>
                </v-checkbox>
                <v-card-actions>
                    <v-btn color="success" class="mr-4" @click="validate">
                        Registreer
                    </v-btn>
                    <v-btn color="warning" class="mr-4" to="/aanmelden">
                        Aanmelden
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
        <v-img
          alt="Logo van Student Teach"
          src="@/assets/student_teach_logo_large.png"
          max-width=40%>
        </v-img>
        </v-row>
    </v-col>
  </v-row>
  <v-dialog
    v-model="adblocker"
    width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          ADBLOCKER GEDETECTEERD
        </v-card-title>

        <v-card-text>
          Voor een goede werking van deze website te garanderen vragen wij om Adblocker uit te schakelen op deze website. Wij garanderen u dat er geen reclame zal worden getoond.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            @click="adblocker = false"
          >
            Sluiten
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
<div class="adBanner"></div>
    </v-container>
</template>
<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import { register } from '@/functions/authorisatie';

@Component({
})
export default class Registration extends Vue {
    private valid: boolean = true;

    private dialog: boolean = false;

    private error = '';

    private pdf = 'De termen en voorwaarden van Student Teach';

    private user = {
      name: null,
      surname: null,
      institution: null,
      course: null,
      email: null,
      password: null,
      role: null,
      teaches: null,
    }

    private checkbox = false;

    private nameRules = [
      v => !!v || 'Naam is vereist',
    ];

    private emailRules = [
      (v: string) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*[.]\w{2,3}$/.test(v) || 'E-mail is ongeldig',
      (v: string) => this.knownEmails.includes(v) !== true || 'E-mail reeds in gebruik',
    ];

    private passwordRules = [
      (v: string) => !!v || 'Wachtwoord is vereist',
    ];

    private passwordRulesSecond = [
      (v: string) => !!v || 'Wachtwoord is vereist',
      (v: string) => v === this.user.password || 'Wachtwoorden komen niet overeen',
    ];

    private adblocker = false;

    private showPassword = false;

    private selectedInstitution: string | null = null;

    private availableStudies: string[] | null = null;

    private knownEmails = [];

    private response: number = 0;

    map: { [insitution: string]: string[]; } = {
      UHasselt: ['TEW', 'SIT'],
      UAntwerpen: ['T&L'],
    };

    private instellingen: string[] = [
      'UHasselt',
      'UAntwerpen',
    ]

    async validate() {
      this.error = '';

      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        this.valid = true;

        if (this.user.role === 'tutee') {
          this.response = await register(this.user.email, this.user.password, this.user.name, this.user.surname,
            this.user.institution, this.user.course, true, false, null);
        } else if (this.user.role === 'tutor') {
          this.response = await register(this.user.email, this.user.password, this.user.name, this.user.surname,
            this.user.institution, this.user.course, false, true, this.user.teaches);
        }

        if (this.response === 200) this.$router.push({ name: 'home' });
        else if (this.response === 400) this.error = 'Sommige velden werden niet correct ingevuld';
        else if (this.response === 409) {
          this.knownEmails.push(this.user.email);
          (this.$refs.form as Vue & { validate: () => boolean }).validate();
        }
      }
    }

    mounted() {
      const adblockEnabled = false;

      // add test element and get its styles
      const adElement = document.getElementsByClassName('adBanner')[0];
      const adElementStyle = getComputedStyle(adElement, null);

      if (adElementStyle.display === 'none') { // Adblock enabled
        this.adblocker = true;
      } else { // Adblock disabled
        this.adblocker = false;
      }
    }
}
</script>
