<template>
  <v-container grid-list-md align-center>
    <v-layout row align-center justify-center>
      <v-flex xs12 md9>
        <request-list
          :personal="personal"
        ></request-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import RequestList from '../components/Requests/Request_List.vue';
import router from '../router/index';

@Component({
  components: {
    'request-list': RequestList,
  },
})
export default class GlobalRequests extends Vue {
  personal: boolean = false;

  created() {
    this.personal = (this.$route.name === 'persoonlijkeaanvragen');
  }

  @Watch('$route')
  onRoutechange(to:any, from: any) {
    this.personal = (to.name === 'persoonlijkeaanvragen');
  }
}
</script>
