<template>
  <v-container grid-list-md align-center>
    <v-layout row align-center justify-center>
      <v-card>
        <v-card-text>
          <p class="display-1 text--primary">
            Aantallen
          </p>
          <div class="text--primary">
            <b>Gebruikers</b>: {{ allStats.userCount }}<br><br>
            <b>Bijlesgevers</b>: {{ allStats.tutorsCount }}<br><br>
            <b>Gevalideerde bijlesgevers</b>: {{ allStats.validatedTutorsCount }}<br><br>
            <b>Bijlesnemers</b>: {{ allStats.tuteeCount }}<br><br>
          </div>
        </v-card-text>
      </v-card>
      <v-flex
        ma-5
        v-for="(chart,index) in allStats.charts"
        :key=index>
        <chart :title=chart.name :chartValues=chart.values />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import Chart from '../components/Chart.vue';
import store from '@/store/index';

@Component({
  components: {
    chart: Chart,
  },
})
export default class Statistics extends Vue {
  private allStats:any = [];

  async mounted() {
    await this.loadStatistics();
  }

  // Load all statistics
  async loadStatistics() {
    await axios({
      method: 'get',
      url: `http://${window.location.hostname}:8000/api/stats/`,
      headers: {
        'content-type': 'application/json',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
    }).then((response) => {
      this.allStats = (JSON.parse(JSON.stringify(response.data))).stats;
      console.log(this.allStats);
    }).catch((error) => {
    });
  }
}
</script>
