<template>
  <v-container grid-list-md align-center>
    <v-layout row align-center justify-center>
      <v-flex xs12 md9>
        <v-card tile elevation="5">
          <v-card-title>Messages:</v-card-title>
          <v-list>
            <v-list-item
              v-for="(item, index) in messages"
              :key="index"
            >
              <v-list-item-content>
                <v-list-item-title v-text="item.message"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-text-field v-model="message">
            </v-text-field>
          <v-card-actions>
            <v-btn @click="sendMessage">Verstuur</v-btn>
            <v-btn @click="testMessages">Test messages</v-btn>
            <v-btn @click="testRooms">Test Rooms</v-btn>
            <v-btn @click="testUnread">Test unread</v-btn>
            <v-btn @click="testDateProposal">Test proposal</v-btn>
            <v-btn @click="testDateAccept">Test accept</v-btn>
            <v-btn @click="testReset">Test reset</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import axios from 'axios';
import store from '../store/index';


@Component({
})
export default class Test extends Vue {
  message: string = '';

  messages: any[] = [];

  proposedDate: any = null;

  socket: WebSocket = null;

  chatId: string = '-1';

  async created() {
    const date: Date = new Date();
    this.chatId = this.$route.params.id;

    this.socket = new WebSocket(
      `ws://${window.location.hostname}:8000/ws/chat/${this.chatId}/`,
    );
    this.socket.onmessage = (msg) => {
      this.receiveMessage(msg);
    };
    this.socket.onerror = (err) => {
      this.socketError(err);
    };
  }

  async testReset() {
    const message = {
      type: 'reset_date',
    };
      /* eslint-disable */
      this.waitForSocketConnection(() => {
        this.socket.send(JSON.stringify(message));
    });
  }

  async testDateProposal() {
    const message = {
      type: 'date',
      date: new Date(),
      proposer_id: Test.getLoggedInUser(),
      sender_id: Test.getLoggedInUser(),
      accepted: null,
    };
      /* eslint-disable */
      this.waitForSocketConnection(() => {
        this.socket.send(JSON.stringify(message));
    });
  }

  async testDateAccept() {
    const message = {
        type: 'date',
        date: this.proposedDate.date,
        proposer_id: this.proposedDate.proposer_id,
        sender_id: Test.getLoggedInUser(),
        accepted: true,
      };
      /* eslint-disable */
      this.waitForSocketConnection(() => {
        this.socket.send(JSON.stringify(message));
    });
    /* eslint-enable */
  }

  async testUnread() {
    const roomUrl: string = `http://${window.location.hostname}:8000/api/chats/unread/`;
    console.log(await this.testEndPoint(roomUrl));
  }

  async testMessages() {
    const messageUrl: string = `http://${window.location.hostname}:8000/api/chats/messages/${this.chatId}/`;
    const data: any = await this.testEndPoint(messageUrl);
    this.messages = data.messages;
    console.log(this.messages, data.room);
  }

  async testRooms() {
    const roomUrl: string = `http://${window.location.hostname}:8000/api/chats/`;
    console.log(await this.testEndPoint(roomUrl));
  }

  testEndPoint(url: string): Promise<any> {
    return new Promise((resolve) => {
      axios({
        method: 'get',
        url,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          if (response.status === 200) {
            resolve(response.data);
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            store.commit('app/logout');
            this.$router.push({ path: '/aanmelden/' });
          }
        });
    });
  }

  beforeDestroy(): void{
    this.socket.close();
  }

  receiveMessage(pmessage): void {
    const message: any = JSON.parse(pmessage.data);
    if (message.type === 'chat_message') {
      this.messages.push(message);
    } else if (message.type === 'date') {
      console.log(message);
      this.proposedDate = message;
    } else if (message.type === 'error') {
      console.log(message.message);
    }
  }

  static getLoggedInUser(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }

  sendMessage(): void {
    if (this.message) {
      const message = {
        type: 'chat_message',
        message: this.message,
        sender: Test.getLoggedInUser(),
      };
      /* eslint-disable */
      this.waitForSocketConnection(() => {
        this.socket.send(JSON.stringify(message));
    });
    }
    
  }

  socketError(error): void {
    this.socket.close();
    this.socket = new WebSocket(
      `ws://${window.location.hostname}:8000/ws/chat/${this.chatId}/`,
    );
  }

  // Make the function wait until the connection is made...
  /* eslint-disable */
  waitForSocketConnection(callback) {
    setTimeout(
      () => {
        if (this.socket.readyState === WebSocket.OPEN) {
          if (callback != null) {
            callback();
          }
        } else {
          this.waitForSocketConnection(callback);
        }
      }, 5,
    ); // wait 5 milisecond for the connection...
  }
}

</script>
