<template>
    <v-container grid-list-md align-center>
        <v-layout row align-center justify-center>
            <v-flex xs12 md9>
                <v-card tile elevation="5">
                    <v-data-table
                    :items="requests"
                    class="elevation-1"
                    :loading.sync="loading"
                    loading-text="Aanvragen aan het ophalen..."
                    :headers="headers"
                    fixed-header
                    disable-pagination
                    hide-default-footer
                    >

                    <!-- Show if there are no requests -->
                    <template v-slot:no-data>
                        <v-layout justify-center>
                        <p class="body-2">Er zijn geen aanvragen.</p>
                        </v-layout>
                    </template>

                    <!-- Display for subject -->
                    <template v-slot:item.subject="{ item }">
                        {{ item.subject }}
                    </template>

                    <!-- Display for created at -->
                    <template v-slot:item.created_at="{ item }">
                        {{ item.created_at | displayDate }}
                    </template>

                    <!-- Display for deadline -->
                    <template v-slot:item.deadline="{ item }">
                        {{ item.deadline | displayDate}}
                    </template>

                    <!-- Display for date -->
                    <template v-slot:item.date="{ item }">
                      <template v-if='item.date == null'>
                        /
                      </template>
                      <template v-else>
                        {{ item.date | displayDateTime}}
                      </template>
                    </template>

                    <!-- Display for requested length -->
                    <template v-slot:item.requested_length="{ item }">
                        {{ item.requested_length | displayLength }}
                    </template>

                    <!-- Display for action button -->
                    <template v-slot:item.action="{ item }">
                      <v-btn
                        v-if="item.status == 3 || item.status == 54"
                        color="success"
                        outlined
                        class="mx-1"
                        @click="payRequestClicked(item)">
                          Betalen
                      </v-btn>
                      <v-btn
                        v-else-if="item.status >= 5 && item.status < 8"
                        @click="goToChat(item.tutor.id)"
                        color="info"
                        outlined
                        class="mx-1">
                          Bericht
                          <v-icon>mdi-message</v-icon>
                      </v-btn>
                      <v-btn
                        v-else-if="item.status == 8"
                        :to="'/review/' + item.id"
                        color="info"
                        outlined
                        class="mx-1">
                          Review
                      </v-btn>
                      <template v-else-if="item.status == 9">
                        <span class='font-italic'>Wordt terugbetaald...</span>
                      </template>
                      <template v-else-if="item.status == 10">
                        <span class='font-italic'>Geannuleerd...</span>
                      </template>
                      <template v-else-if="item.status == 11">
                        <span class='font-italic'>Afgelopen</span>
                      </template>
                      <template v-else>
                        <span class='font-italic'>In behandeling...</span>
                      </template>
                    </template>

                    </v-data-table>
                    <!-- error dialog displays any potential errors -->
                    <v-dialog v-model="errorDialog" max-width="300">
                        <v-card>
                            <v-card-title>{{ errorText }}</v-card-title>
                            <v-card-actions>
                            <v-btn @click="errorDialog = false" flat>Got it!</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Pay dialog -->
                    <v-dialog v-model="payDialog" max-width="600">
                        <v-card>
                            <v-card-title>
                              <v-row align="start" justify="start">
                                Kies je betaalmethode
                                <v-spacer></v-spacer>
                                <v-btn icon @click="closePayDialog()">
                                  <v-icon>mdi-close</v-icon>
                                </v-btn>
                              </v-row>
                            </v-card-title>
                            <v-card-actions>
                              <v-container fluid>
                                <v-row>
                                  <v-col align="center" justify="center">
                                    <v-btn
                                      color="primary"
                                      outlined :to="'betaal/' + clickedRequest.id"
                                    >
                                      Betaal via Payconiq
                                    </v-btn>
                                    <file-input @input="proofSelected">
                                      <v-btn
                                        color="primary"
                                        outlined
                                        slot="activator"
                                      >
                                        Upload een betaalbewijs
                                      </v-btn>
                                    </file-input>
                                  </v-col>
                                </v-row>
                             </v-container>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Payment proof show dialog -->
                    <v-dialog v-model="proofDialog" max-width="800">
                      <v-card>
                        <v-card-title>
                          <v-spacer></v-spacer>
                          <v-btn icon @click="closeProofDialog()">
                            <v-icon>mdi-close</v-icon>
                          </v-btn>
                        </v-card-title>
                        <v-img :src="imageURL" contain max-height="500"></v-img>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            outlined
                            color="primary"
                            :loading="paymentUploading"
                            @click="onUploadPaymentProof()"
                          >
                            Upload
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>

                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import { SnackBarSate } from '../store/modules/types';
import router from '../router';
import store from '../store/index';
import ImageInput from '../components/ImageInput.vue';
import { updateRequest } from '@/functions/requests';

const namespace: string = 'snackbar';

@Component({
  name: 'RequestList',
  components: {
    'file-input': ImageInput,
  },
  filters: {
    // Filters the Date object to a day/month/year format
    displayDate(pdate: any): string {
      const date: Date = new Date(pdate);

      return date.toLocaleDateString();
    },
    displayDateTime(pdate: any): string {
      const date: Date = new Date(pdate);
      const dateStr: string = date.toLocaleDateString();

      const timeStr: string = `${date.getHours()}:${date.getMinutes()}`;
      return `${dateStr}\n${timeStr}`;
    },
    displayLength(pLenght: any): string {
      const requestedLength = `${pLenght}u`;
      return requestedLength;
    },
  },
})
export default class TuteeRequestList extends Vue {
  loading: boolean = true;

  filterRequestsOn: number = 0;

  payDialog: boolean = false;

  proofDialog: boolean = false;

  errorDialog: boolean = false;

  errorText: string = '';

  requests: any[] = [];

  pagination: any = {
    sortBy: 'date',
  };

  paymentUploading: boolean = false;

  headers: any[] = [
    {
      text: 'Onderwerp', value: 'subject', width: '35%', align: 'center', sortable: false,
    },
    {
      text: 'Duur', value: 'requested_length', width: '5%', align: 'center', sortable: false,
    },
    {
      text: 'Aangevraagd op', value: 'created_at', width: '15%', align: 'center', sortable: true,
    },
    {
      text: 'Deadline', value: 'deadline', width: '15%', align: 'center', sortable: true,
    },
    {
      text: 'Vastgelegd op', value: 'date', width: '15%', align: 'center', sortable: true,
    },
    {
      value: 'action', width: '15%', align: 'center', sortable: false,
    },
  ];

  clickedRequest: any = {};

  imageURL: string = '';

  image: any = null;

  @State('snackbar') snackbar!: SnackBarSate;

  @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

  created() {
    this.loading = true;
    this.getRequests();
  }

  payRequestClicked(request) {
    this.payDialog = true;
    this.clickedRequest = request;
  }

  closeProofDialog() {
    this.proofDialog = false;
    this.payDialog = false;
    this.imageURL = '';
    this.image = null;
    this.clickedRequest = {};
  }

  closePayDialog() {
    this.payDialog = false;
    this.clickedRequest = {};
  }

  proofSelected(image) {
    this.payDialog = false;
    this.proofDialog = true;
    this.imageURL = image.imageURL;
    this.image = image.imageFile;
  }

  async onUploadPaymentProof() {
    this.paymentUploading = true;

    const cont = new FormData();
    await cont.append('paymentProof', this.image);
    await axios({
      method: 'post',
      url: `http://${window.location.hostname}:8000/api/requests/payment-proof/${this.clickedRequest.id}/`,
      headers: {
        'content-type': 'multipart/form-data',
        Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
      },
      data: cont,
    }).then((response) => {
      this.paymentUploading = false;
      this.setRequestAsPayed();
    }).catch((error) => {
      this.paymentUploading = false;
      this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      this.closeProofDialog();
    });
  }

  setRequestAsPayed() {
    const updatedRequest: any = JSON.parse(JSON.stringify(this.clickedRequest));

    updatedRequest.status = 4;
    updatedRequest.text = 'Betaald';

    updateRequest(updatedRequest)
      .then((success) => {
        this.closeProofDialog();
        this.setSnackBarMessage({ message: 'Betaalbewijs verstuurd!', type: 'info' });
        this.clickedRequest = updatedRequest;
        this.getRequests();
      })
      .catch((error) => {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      });
  }


  async getRequests(): Promise<boolean> {
    return new Promise((resolve) => {
      axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/requests/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          this.loading = false;
          if (response.status === 200) {
            this.requests = response.data;
            this.loading = false;
          } else {
            this.loading = false;
            this.errorText = 'Er is iets fout gegaan!';
            this.errorDialog = true;
          }
          resolve(true);
        })
        .catch((error) => {
          if (error.response.status === 401) {
            store.commit('app/logout');
            this.$router.push({ path: '/aanmelden/' });
            resolve(false);
          }
        });
    });
  }

  async goToChat(tutorID: number) {
    const loggedInID = TuteeRequestList.getLoggedInUserId();
    const roomID = await this.getRoomID(loggedInID, tutorID);

    if (roomID === -1) {
      this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
    } else {
      // Go to chat room
      this.$router.push({ path: `/berichten/${roomID}` });
    }
  }

  /* eslint-disable */
  async getRoomID(loggedInID:number, tutorID: number): Promise<number> {
    return new Promise((resolve) => {
      axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/chats/room/user1/${loggedInID}/user2/${tutorID}/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          if (response.status === 200) {
            resolve(response.data.id);
          } else {
            resolve(-1);
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            resolve(-1);
            store.commit('app/logout');
            this.$router.push({ path: '/aanmelden/' });
          }
        });
    });
    // on error
    return null;
  }
  /* eslint-enable */


  static toDateStr(date: Date): string {
    const month: number = (date.getMonth() + 1) % 12;
    const dateStr: string = `${date.getDate()}/${month}/${date.getFullYear()}`;
    return dateStr;
  }

  static toDateTimeStr(date: Date): string {
    const dateStr: string = TuteeRequestList.toDateStr(date);
    const timeStr: string = `${date.getHours()}:${date.getMinutes()}`;
    return `${timeStr}\n${timeStr}`;
  }

  static getLoggedInUserId(): number {
    const token: any = store.getters['app/getAccesToken'];
    const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
    const loggedInUser: number = parsedToken.user_id;
    return loggedInUser;
  }
}
</script>
