<template>
    <v-container grid-list-md align-center>
        <v-layout row align-center justify-center>
            <v-flex xs12 md9>
                <v-card tile elevation="5">
                    <v-data-table
                    :items="requests"
                    class="elevation-1"
                    :loading.sync="loading"
                    loading-text="Aanvragen aan het ophalen..."
                    :headers="headers"
                    fixed-header
                    disable-pagination
                    hide-default-footer
                    >

                    <!-- Show if there are no requests -->
                    <template v-slot:no-data>
                        <v-layout justify-center>
                        <p class="body-2">Er zijn geen bijlessen hier.</p>
                        </v-layout>
                    </template>

                    <!-- Display for course -->
                    <template v-slot:item.subject="{ item }">
                        <v-chip
                        color="purple lighten-5"
                        text-color="purple darken-2">
                        {{ item.subject }}
                        </v-chip>
                    </template>

                    <!-- Display for deadline -->
                    <template v-slot:item.deadline="{ item }">
                        {{ item.deadline | displayDate}}
                    </template>

                    <!-- Display for requested length -->
                    <template v-slot:item.requested_length="{ item }">
                        {{ item.requested_length | displayLength }}
                    </template>

                    <!-- Display for action button -->
                    <template v-slot:item.action="{ item }">
                        <v-row v-if="item.status == 2">
                            <v-btn icon color="success" outlined class="mx-1" @click="accept(item)">
                                <v-icon>mdi-check</v-icon>
                            </v-btn>
                            <v-btn icon color="error" outlined class="mx-1" @click="deny(item)">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-btn icon color="info" outlined class="mx-1" @click="info(item)">
                                <v-icon>mdi-help</v-icon>
                            </v-btn>
                        </v-row>
                        <v-row v-else-if="item.status == 3 || item.status == 4">
                            <span class='font-italic'>Wachten op betaling...</span>
                        </v-row>
                        <v-row v-else-if="item.status >= 5">
                            <v-btn outlined color="info" @click="goToChat(item.tutee.id)">
                                Bericht
                                <v-icon>mdi-message</v-icon>
                            </v-btn>
                        </v-row>
                    </template>

                    </v-data-table>
                    <!-- error dialog displays any potential errors -->
                    <v-dialog v-model="errorDialog" max-width="300">
                        <v-card>
                            <v-card-title>{{ errorText }}</v-card-title>
                            <v-card-actions>
                            <v-btn @click="errorDialog = false" flat>Got it!</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';
import axios from 'axios';
import { State, Mutation } from 'vuex-class';
import { updateRequest, findIndexOfRequest } from '@/functions/requests';
import router from '../router';
import store from '../store/index';
import { SnackBarSate } from '../store/modules/types';

const namespace: string = 'snackbar';


@Component({
  name: 'RequestList',
  filters: {
    // Filters the Date object to a day/month/year format
    displayDate(pdate: any): string {
      const dateobj: Date = new Date(pdate);
      const month: number = (dateobj.getMonth() + 1) % 12;
      const date: string = `${dateobj.getDate()}/${month}/${dateobj.getFullYear()}`;
      return date;
    },
    displayLength(pLenght: any): string {
      const requestedLength = `${pLenght}u`;
      return requestedLength;
    },
  },
})
export default class RequestList extends Vue {
  @State('snackbar') snackbar!: SnackBarSate;

  @Mutation('setSnackBarMessage', { namespace }) setSnackBarMessage: any;

    loading: boolean = true;

    filterRequestsOn: number = 0

    errorDialog: boolean = false;

    errorText: string = '';

    requests: any[] = [];

    displayedRequests: any[] = [];

    pagination: any = {
      sortBy: 'date',
    };

    headers: any[] = [
      {
        text: 'Naam',
        sortable: false,
        value: 'tutee.full_name',
        align: 'left',
        width: '20%',
      },
      {
        text: 'Richting', value: 'tutee.course', width: '10%', align: 'center', sortable: false,
      },
      {
        text: 'Onderwerp', value: 'subject', width: '35%', align: 'center', sortable: false,
      },
      {
        text: 'Duur', value: 'requested_length', width: '5%', align: 'center', sortable: false,
      },
      {
        text: 'Deadline', value: 'deadline', width: '15%', align: 'center', sortable: true,
      },
      {
        value: 'action', width: '20%', align: 'center', sortable: false,
      },
    ];

    created() {
      this.loading = true;
      this.getRequests().then((res) => {
        this.loading = false;
      });
    }

    async getRequests(): Promise<boolean> {
      return new Promise((resolve) => {
        const requestUrl: string = `http://${window.location.hostname}:8000/api/requests/`;
        axios({
          method: 'get',
          url: requestUrl,
          headers: {
            'content-type': 'application/json',
            Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
          },
        })
          .then((response) => {
            this.loading = false;
            if (response.status === 200) {
              this.requests = response.data;
              console.log(this.requests);
              this.loading = false;
            } else {
              this.loading = false;
              this.errorText = 'Er is iets fout gegaan!';
              this.errorDialog = true;
            }
            resolve(true);
          })
          .catch((error) => {
            if (error.response.status === 401) {
              store.commit('app/logout');
              this.$router.push({ path: '/aanmelden/' });
              resolve(false);
            }
          });
      });
    }

    accept(request) {
      request.status = 3;
      request.text = 'Bijlesgever geaccepteerd';

      updateRequest(request)
        .then((success) => {
          if (request.paid) {
            request.status = 5;
            request.text = 'Betaling goedgekeurd';
            updateRequest(request)
              .then((ok) => {
                this.setSnackBarMessage({ message: 'Aanvraag geaccepteerd!', type: 'success' });
              })
              .catch((error) => {
                this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
              });
          }
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }

    async info(request): Promise<boolean> {
      return new Promise((resolve) => {
        axios({
          method: 'post',
          url: `http://${window.location.hostname}:8000/api/chats/`,
          headers: {
            'content-type': 'application/json',
            Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
          },
          data: {
            user1_id: RequestList.getLoggedInUserId(),
            user2_id: request.admin_id,
            request_id: request.id,
          },
        })
          .then((response) => {
            if (response.status === 200 || response.status === 200) {
              this.$router.push({ path: `/berichten/${response.data.id}` });
              resolve(true);
            }
          })
          .catch((error) => {
            if (error.response.status === 401) {
              store.commit('app/logout');
              this.$router.push({ path: '/aanmelden/' });
              resolve(false);
            }
          });
      });
    }

    deny(request) {
      const updatedRequest: any = JSON.parse(JSON.stringify(request));
      updatedRequest.status = 50;
      updatedRequest.text = 'Bijlesgever niet geaccepteerd';

      updateRequest(updatedRequest)
        .then((success) => {
          updatedRequest.tutor = null;
          updatedRequest.status = 1;
          updatedRequest.text = 'Toegekend';

          updateRequest(updatedRequest)
            .then(() => {
              request = JSON.parse(JSON.stringify(updatedRequest));
            })
            .catch((error) => {
              this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
            });
        })
        .catch((error) => {
          this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
        });
    }


    assignRequest(request: any): void {
      request.admin_id = RequestList.getLoggedInUserId();
    }

    static getLoggedInUserId(): number {
      const token: any = store.getters['app/getAccesToken'];
      const parsedToken: any = JSON.parse(atob(token.split('.')[1]));
      const loggedInUser: number = parsedToken.user_id;
      return loggedInUser;
    }

    async goToChat(tutorID: number) {
      const loggedInID = RequestList.getLoggedInUserId();
      const roomID: number = await this.getRoomID(loggedInID, tutorID);

      if (roomID === -1) {
        this.setSnackBarMessage({ message: 'Er is iets fout gegaan!', type: 'error' });
      } else {
      // Go to chat room
        this.$router.push({ path: `/berichten/${roomID}` });
      }
    }

    /* eslint-disable */
  async getRoomID(loggedInID:number, tuteeID: number): Promise<number> {
    return new Promise((resolve) => {
      axios({
        method: 'get',
        url: `http://${window.location.hostname}:8000/api/chats/room/user1/${loggedInID}/user2/${tuteeID}/`,
        headers: {
          'content-type': 'application/json',
          Authorization: `Bearer ${store.getters['app/getAccesToken']}`,
        },
      })
        .then((response) => {
          if (response.status === 200) {
            resolve(response.data.id);
          } else {
            resolve(-1);
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            resolve(-1);
            store.commit('app/logout');
            this.$router.push({ path: '/aanmelden/' });
          }
        });
    });
    // on error
    return null;
  }
  /* eslint-enable */

    getRequestsSize(): number {
      return this.requests.length;
    }
}
</script>
